<img src="imgs/IISc_Master_Seal_Black_Transparent.png" height="120px" width="120px" align="right" />

<img src="imgs/logoGESS.jpg" height="120px" width="120px" align="right" />

<font face="Calibri">
<font size="7"> <b> PySHBundle Tutorials </b> </font>
<br> 
<font size="5"> <b> Tutorial 3: Terrestrial Water Storage Time Series<font color='rgba(200,0,0,0.2)'>  </font> </b> </font>
<br> <br>
    
<font size="3"> <b> by: Abhishek Mhamane, IIT Kanpur</b> 
<font size="2">  <br>
<font> <b>Date: </b> August 30, 2023 </font>
</font>

In [15]:
import os
import pprint
import numpy as np
from tqdm import tqdm, trange
from datetime import datetime
import matplotlib.pyplot as plt

In [2]:
os.chdir('D:\\open_source\\pyshbundle')
import pyshbundle

In [11]:
from pyshbundle.new_io import read_jpl, read_csr, read_tn13, read_tn14, extract_C10_11_replcmnt_coeff, klm2sc_new
from pyshbundle.new_io import extract_C20_replcmnt_coeff, extract_C30_replcmnt_coeff, replace_zonal_coeff, find_date_in_replacemnt_file
from pyshbundle.new_io import read_itsg

from pyshbundle import gshs, plm, sc2cs
from pyshbundle.clm2sc import clm2sc_new
from pyshbundle.clm2cs import clm2cs_new

In [ ]:
# load temporal data

In [4]:
def last_4chars(x):
        #print(x[-39:-32])
        return(x[-11:-4])

In [5]:
tn14_path_itsg = 'D:\\open_source\\pyshbundle\pyshbundle\\data\\ITSG_TN_files\\TN-14_C30_C20_SLR_GSFC.txt'
tn_13_path_itsg = 'D:\\open_source\\pyshbundle\\pyshbundle\\data\\ITSG_TN_files\\TN-13_GEOC_CSR_RL06.1.txt'
itsg_folder = 'D:\\open_source\\pyshbundle\\sample_input_data\\ITSG_input'
itsg_file = 'D:\\open_source\\pyshbundle\\sample_input_data\\ITSG_input\\ITSG-Grace2018_n96_2011-05.gfc'

In [6]:
# load all the itsg files
files = os.listdir(itsg_folder)
files = sorted(files, key = last_4chars)

data_itsg_mat = np.ndarray((len(files), 4753, 6))
dates_itsg = []
for i in trange(len(files)):
    file_path = itsg_folder + '\\' + files[i]
    header = read_itsg(file_path)[0]
    data_itsg_mat[i, :, :] = read_itsg(file_path)[1]
    dates_itsg.append(read_itsg(file_path)[2])

100%|██████████| 214/214 [00:24<00:00,  8.63it/s]

In [8]:
# Read replacemnt file
data_tn13_itsg = read_tn13(tn_13_path_itsg)
data_tn14_itsg = read_tn14(tn14_path_itsg)

In [ ]:
header

In [ ]:
type(read_itsg(file_path)[2])

In [9]:
#replace_zonal_coeff(data_mat, data_tn13, data_tn14, epoch_begin, epoch_end)
# Replace zonal coeff
replaced_data_mat_itsg = np.ndarray((len(files), 4753, 6))

unreplaced_idx = set()
for i in trange(len(files)):
    try:
        replaced_data_mat_itsg[i, :, :] = replace_zonal_coeff(data_itsg_mat[i, :, :], 'itsg', 96, data_tn13_itsg, data_tn14_itsg, dates_itsg[i], epoch_end=None)
        print("\n")
    except IndexError:
        print(f"Replacement data for File Index {i} - {dates_itsg[i]} could not be found.... procedding to next file")
        unreplaced_idx.add(i)

unreplaced_idx = list(unreplaced_idx)

  3%|▎         | 6/214 [00:00<00:04, 51.78it/s]

Data Date - 2002-04-01, replacemnt date(tn-13) = 2002-04-05
Data Date - 2002-04-01, replacemnt date(tn-13) = 2002-04-05
[1.00000000e+00 0.00000000e+00 5.21793863e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  2.86777277e-10 -6.80704629e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2002-04-01, replacemnt date (tn-14)_ = 2002-04-04
Data Date - 2002-04-01, replacemnt date (tn-14)_ = 2002-04-04


Data Date - 2002-05-01, replacemnt date(tn-13) = 2002-05-03
Data Date - 2002-05-01, replacemnt date(tn-13) = 2002-05-03
[1.00000000e+00 0.00000000e+00 4.69850864e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  1.53669799e-10 -8.90896621e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2002-05-01, replacemnt date (tn-14)_ = 2002-05-02
Data Date - 2002-05-01, replacemnt date (tn-14)_ = 2002-05-02


Data Date - 2002-08-01, replacemnt date(tn-13) = 2002-08-01
Data Date - 2002-08-01, replacemnt date(tn-13) = 2002-08-01
[1.00000000e+00 0.00000000e+00 4.10788808e-13 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.63466960e-11  4.80595866e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2002-08-01, replacemnt date (tn-14)_ = 2002-08-01
Data Date - 2002-08-01, replacemnt date (tn-14)_ = 2002-08-01


Data Date - 2002-09-01, replacemnt date(tn-13) = 2002-09-01
Data Date - 2002-09-01, replacemnt date(tn-13) = 2002-09-01
[ 1.00000000e+00  0.00000000e+00 -8.34239732e-11  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -6.52328956e-11  1.61366892e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2002-09-01, replacemnt date (tn-14)_ = 2002-09-01
Data Date - 2002-09-01, replacemnt date (tn-14)_ = 2002-09-01


Data Date - 2002-10-01, replacemnt date(tn-13) = 2002-10-01
Data Date - 2002-10-01, replacemnt date(tn-13) = 2002-10-01
[ 1.00000000e+00  0.00000000e+00 -3.84270537e-11  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -6.57820461e-11  1.91615435e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2002-10-01, replacemnt date (tn-14)_ = 2002-10-01
Data Date - 2002-10-01, replacemnt date (tn-14)_ = 2002-10-01


Data Date - 2002-11-01, replacemnt date(tn-13) = 2002-11-01
Data Date - 2002-11-01, replacemnt date(tn-13) = 2002-11-01
[1.00000000e+00 0.00000000e+00 1.32473791e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.65753230e-11  1.51912028e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2002-11-01, replacemnt date (tn-14)_ = 2002-11-01
Data Date - 2002-11-01, replacemnt date (tn-14)_ = 2002-11-01


Data Date - 2002-12-01, replacemnt date(tn-13) = 2002-12-01
Data Date - 2002-12-01, replacemnt date(tn-13) = 2002-12-01
[1.00000000e+00 0.00000000e+00 1.41158242e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -4.08476408e-11  5.55919444e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2002-12-01, replacemnt date (tn-14)_ = 2002-12-01
Data Date - 2002-12-01, replacemnt date (tn-14)_ = 2002-12-01


Data Date - 2003-01-01, replacemnt date(tn-13) = 2003-01-01
Data Date - 2003-01-01, replacemnt date(tn-13) = 2003-01-01
[1.00000000e+00 0.00000000e+00 2.29661463e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [1.00000000e+00 1.00000000e+00 2.22878169e-11 9.65113839e-11
 4.52960000e-11 5.07240000e-11]
Data Date - 2003-01-01, replacemnt date (tn-14)_ = 2003-01-01
Data Date - 2003-01-01, replacemnt date (tn-14)_ = 2003-01-01


Data Date - 2003-02-01, replacemnt date(tn-13) = 2003-02-01
Data Date - 2003-02-01, replacemnt date(tn-13) = 2003-02-01
[1.00000000e+00 0.00000000e+00 2.60378118e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [1.00000000e+00 1.00000000e+00 8.13974150e-11 6.47998202e-12
 4.52960000e-11 5.07240000e-11]
Data Date - 2003-02-01, replacemnt date (tn-14)_ = 2003-02-01
Data Date - 2003-02-01, replacemnt date (tn-14)_ = 2003-02-01


Data Date - 2003-03-01, replacemnt date(tn-13) = 2003-03-01
Data Date - 2003-03-01, replacemnt date(tn-13) = 2003-03-01
[1.00000000e+00 0.00000000e+00 3.29620354e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  1.52992189e-10 -3.57924708e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2003-03-01, replacemnt date (tn-14)_ = 2003-03-01
Data Date - 2003-03-01, replacemnt date (tn-14)_ = 2003-03-01


Data Date - 2003-04-01, replacemnt date(tn-13) = 2003-04-01
Data Date - 2003-04-01, replacemnt date(tn-13) = 2003-04-01
[1.00000000e+00 0.00000000e+00 2.83218175e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  1.39000770e-10 -1.10091345e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2003-04-01, replacemnt date (tn-14)_ = 2003-04-01
Data Date - 2003-04-01, replacemnt date (tn-14)_ = 2003-04-01


Data Date - 2003-05-01, replacemnt date(tn-13) = 2003-05-01
Data Date - 2003-05-01, replacemnt date(tn-13) = 2003-05-01
[1.00000000e+00 0.00000000e+00 3.03491546e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  9.27596678e-11 -4.51809508e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2003-05-01, replacemnt date (tn-14)_ = 2003-05-01
Data Date - 2003-05-01, replacemnt date (tn-14)_ = 2003-05-01

  9%|▉         | 19/214 [00:00<00:03, 57.09it/s]

Data Date - 2003-07-01, replacemnt date(tn-13) = 2003-07-01
Data Date - 2003-07-01, replacemnt date(tn-13) = 2003-07-01
[1.00000000e+00 0.00000000e+00 9.70078027e-12 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  4.57600314e-11 -3.88527543e-13
  4.52960000e-11  5.07240000e-11]
Data Date - 2003-07-01, replacemnt date (tn-14)_ = 2003-07-01
Data Date - 2003-07-01, replacemnt date (tn-14)_ = 2003-07-01


Data Date - 2003-08-01, replacemnt date(tn-13) = 2003-08-01
Data Date - 2003-08-01, replacemnt date(tn-13) = 2003-08-01
[ 1.00000000e+00  0.00000000e+00 -8.48334144e-11  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [1.00000000e+00 1.00000000e+00 8.99940877e-12 1.56049408e-10
 4.52960000e-11 5.07240000e-11]
Data Date - 2003-08-01, replacemnt date (tn-14)_ = 2003-08-01
Data Date - 2003-08-01, replacemnt date (tn-14)_ = 2003-08-01


Data Date - 2003-09-01, replacemnt date(tn-13) = 2003-09-01
Data Date - 2003-09-01, replacemnt date(tn-13) = 2003-09-01
[ 1.00000000e+00  0.00000000e+00 -2.43125092e-11  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -4.72783187e-11  2.86422145e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2003-09-01, replacemnt date (tn-14)_ = 2003-09-01
Data Date - 2003-09-01, replacemnt date (tn-14)_ = 2003-09-01


Data Date - 2003-10-01, replacemnt date(tn-13) = 2003-10-01
Data Date - 2003-10-01, replacemnt date(tn-13) = 2003-10-01
[ 1.00000000e+00  0.00000000e+00 -3.94134722e-11  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.14939406e-10  2.12465172e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2003-10-01, replacemnt date (tn-14)_ = 2003-10-01
Data Date - 2003-10-01, replacemnt date (tn-14)_ = 2003-10-01


Data Date - 2003-11-01, replacemnt date(tn-13) = 2003-11-01
Data Date - 2003-11-01, replacemnt date(tn-13) = 2003-11-01
[1.00000000e+00 0.00000000e+00 2.94173638e-11 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -9.59914076e-11  1.19987015e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2003-11-01, replacemnt date (tn-14)_ = 2003-11-01
Data Date - 2003-11-01, replacemnt date (tn-14)_ = 2003-11-01


Data Date - 2003-12-01, replacemnt date(tn-13) = 2003-12-01
Data Date - 2003-12-01, replacemnt date(tn-13) = 2003-12-01
[1.00000000e+00 0.00000000e+00 1.99701625e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.77854341e-11  1.13216788e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2003-12-01, replacemnt date (tn-14)_ = 2003-12-01
Data Date - 2003-12-01, replacemnt date (tn-14)_ = 2003-12-01


Data Date - 2004-01-01, replacemnt date(tn-13) = 2004-01-01
Data Date - 2004-01-01, replacemnt date(tn-13) = 2004-01-01
[1.0000000e+00 0.0000000e+00 2.9103606e-10 0.0000000e+00 4.4585000e-11
 0.0000000e+00] [1.00000000e+00 1.00000000e+00 3.50303565e-12 1.02644291e-10
 4.52960000e-11 5.07240000e-11]
Data Date - 2004-01-01, replacemnt date (tn-14)_ = 2004-01-01
Data Date - 2004-01-01, replacemnt date (tn-14)_ = 2004-01-01


Data Date - 2004-02-01, replacemnt date(tn-13) = 2004-02-04
Data Date - 2004-02-01, replacemnt date(tn-13) = 2004-02-04
[1.00000000e+00 0.00000000e+00 3.65558574e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [1.00000000e+00 1.00000000e+00 9.42177462e-11 9.97270924e-11
 4.52960000e-11 5.07240000e-11]
Data Date - 2004-02-01, replacemnt date (tn-14)_ = 2004-02-04
Data Date - 2004-02-01, replacemnt date (tn-14)_ = 2004-02-04


Data Date - 2004-03-01, replacemnt date(tn-13) = 2004-03-01
Data Date - 2004-03-01, replacemnt date(tn-13) = 2004-03-01
[1.0000000e+00 0.0000000e+00 2.8881607e-10 0.0000000e+00 4.4585000e-11
 0.0000000e+00] [1.00000000e+00 1.00000000e+00 8.35305298e-11 7.45804459e-12
 4.52960000e-11 5.07240000e-11]
Data Date - 2004-03-01, replacemnt date (tn-14)_ = 2004-03-01
Data Date - 2004-03-01, replacemnt date (tn-14)_ = 2004-03-01


Data Date - 2004-04-01, replacemnt date(tn-13) = 2004-04-01
Data Date - 2004-04-01, replacemnt date(tn-13) = 2004-04-01
[1.0000000e+00 0.0000000e+00 4.3071441e-10 0.0000000e+00 4.4585000e-11
 0.0000000e+00] [ 1.00000000e+00  1.00000000e+00  1.83987162e-10 -5.72250414e-12
  4.52960000e-11  5.07240000e-11]
Data Date - 2004-04-01, replacemnt date (tn-14)_ = 2004-04-01
Data Date - 2004-04-01, replacemnt date (tn-14)_ = 2004-04-01


Data Date - 2004-05-01, replacemnt date(tn-13) = 2004-05-01
Data Date - 2004-05-01, replacemnt date(tn-13) = 2004-05-01
[1.00000000e+00 0.00000000e+00 3.15484703e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  1.36781031e-10 -1.37866910e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2004-05-01, replacemnt date (tn-14)_ = 2004-05-01
Data Date - 2004-05-01, replacemnt date (tn-14)_ = 2004-05-01


Data Date - 2004-06-01, replacemnt date(tn-13) = 2004-06-01
Data Date - 2004-06-01, replacemnt date(tn-13) = 2004-06-01
[1.00000000e+00 0.00000000e+00 2.46855161e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  3.04478673e-11 -1.01019658e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2004-06-01, replacemnt date (tn-14)_ = 2004-06-01
Data Date - 2004-06-01, replacemnt date (tn-14)_ = 2004-06-01


Data Date - 2004-07-01, replacemnt date(tn-13) = 2004-07-01
Data Date - 2004-07-01, replacemnt date(tn-13) = 2004-07-01
[1.00000000e+00 0.00000000e+00 1.13998722e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [1.00000000e+00 1.00000000e+00 7.65843694e-11 2.31325031e-11
 4.52960000e-11 5.07240000e-11]
Data Date - 2004-07-01, replacemnt date (tn-14)_ = 2004-07-01
Data Date - 2004-07-01, replacemnt date (tn-14)_ = 2004-07-01

 14%|█▍        | 31/214 [00:00<00:04, 43.40it/s]

Data Date - 2004-08-01, replacemnt date(tn-13) = 2004-08-01
Data Date - 2004-08-01, replacemnt date(tn-13) = 2004-08-01
[ 1.00000000e+00  0.00000000e+00 -4.64810286e-11  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -6.51101850e-11  9.76088641e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2004-08-01, replacemnt date (tn-14)_ = 2004-08-01
Data Date - 2004-08-01, replacemnt date (tn-14)_ = 2004-08-01


Data Date - 2004-09-01, replacemnt date(tn-13) = 2004-09-01
Data Date - 2004-09-01, replacemnt date(tn-13) = 2004-09-01
[ 1.00000000e+00  0.00000000e+00 -1.49786456e-11  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.44271735e-10  2.20036998e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2004-09-01, replacemnt date (tn-14)_ = 2004-09-01
Data Date - 2004-09-01, replacemnt date (tn-14)_ = 2004-09-01


Data Date - 2004-10-01, replacemnt date(tn-13) = 2004-10-01
Data Date - 2004-10-01, replacemnt date(tn-13) = 2004-10-01
[ 1.00000000e+00  0.00000000e+00 -7.90681948e-11  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.58244269e-10  1.40159144e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2004-10-01, replacemnt date (tn-14)_ = 2004-10-01
Data Date - 2004-10-01, replacemnt date (tn-14)_ = 2004-10-01


Data Date - 2004-11-01, replacemnt date(tn-13) = 2004-11-01
Data Date - 2004-11-01, replacemnt date(tn-13) = 2004-11-01
[1.00000000e+00 0.00000000e+00 1.00374114e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -7.59082948e-11  1.01255599e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2004-11-01, replacemnt date (tn-14)_ = 2004-11-01
Data Date - 2004-11-01, replacemnt date (tn-14)_ = 2004-11-01


Data Date - 2004-12-01, replacemnt date(tn-13) = 2004-12-01
Data Date - 2004-12-01, replacemnt date(tn-13) = 2004-12-01
[1.00000000e+00 0.00000000e+00 2.45033395e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.0000000e+00  1.0000000e+00 -3.7013782e-11  6.3545522e-11
  4.5296000e-11  5.0724000e-11]
Data Date - 2004-12-01, replacemnt date (tn-14)_ = 2004-12-01
Data Date - 2004-12-01, replacemnt date (tn-14)_ = 2004-12-01


Data Date - 2005-01-01, replacemnt date(tn-13) = 2005-01-01
Data Date - 2005-01-01, replacemnt date(tn-13) = 2005-01-01
[1.0000000e+00 0.0000000e+00 3.0361127e-10 0.0000000e+00 4.4585000e-11
 0.0000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.99553169e-11 -1.21253486e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2005-01-01, replacemnt date (tn-14)_ = 2005-01-01
Data Date - 2005-01-01, replacemnt date (tn-14)_ = 2005-01-01

 17%|█▋        | 37/214 [00:00<00:03, 47.24it/s]

Data Date - 2005-02-01, replacemnt date(tn-13) = 2005-02-01
Data Date - 2005-02-01, replacemnt date(tn-13) = 2005-02-01
[1.00000000e+00 0.00000000e+00 4.40375107e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  9.18018908e-11 -3.41146270e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2005-02-01, replacemnt date (tn-14)_ = 2005-02-01
Data Date - 2005-02-01, replacemnt date (tn-14)_ = 2005-02-01


Data Date - 2005-03-01, replacemnt date(tn-13) = 2005-03-01
Data Date - 2005-03-01, replacemnt date(tn-13) = 2005-03-01
[1.00000000e+00 0.00000000e+00 4.86438817e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  1.68265800e-10 -7.14342674e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2005-03-01, replacemnt date (tn-14)_ = 2005-03-01
Data Date - 2005-03-01, replacemnt date (tn-14)_ = 2005-03-01


Data Date - 2005-04-01, replacemnt date(tn-13) = 2005-04-01
Data Date - 2005-04-01, replacemnt date(tn-13) = 2005-04-01
[1.00000000e+00 0.00000000e+00 4.62236415e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  1.13780783e-10 -1.78322050e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2005-04-01, replacemnt date (tn-14)_ = 2005-04-01
Data Date - 2005-04-01, replacemnt date (tn-14)_ = 2005-04-01


Data Date - 2005-05-01, replacemnt date(tn-13) = 2005-05-01
Data Date - 2005-05-01, replacemnt date(tn-13) = 2005-05-01
[1.00000000e+00 0.00000000e+00 4.94511281e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  1.39493780e-10 -1.44590669e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2005-05-01, replacemnt date (tn-14)_ = 2005-05-01
Data Date - 2005-05-01, replacemnt date (tn-14)_ = 2005-05-01


Data Date - 2005-06-01, replacemnt date(tn-13) = 2005-06-01
Data Date - 2005-06-01, replacemnt date(tn-13) = 2005-06-01
[1.00000000e+00 0.00000000e+00 2.62252382e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  2.79153188e-11 -1.52093718e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2005-06-01, replacemnt date (tn-14)_ = 2005-06-01
Data Date - 2005-06-01, replacemnt date (tn-14)_ = 2005-06-01


Data Date - 2005-07-01, replacemnt date(tn-13) = 2005-07-01
Data Date - 2005-07-01, replacemnt date(tn-13) = 2005-07-01
[1.00000000e+00 0.00000000e+00 3.13183606e-11 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -7.18406951e-11 -2.77587486e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2005-07-01, replacemnt date (tn-14)_ = 2005-07-01
Data Date - 2005-07-01, replacemnt date (tn-14)_ = 2005-07-01


Data Date - 2005-08-01, replacemnt date(tn-13) = 2005-08-01
Data Date - 2005-08-01, replacemnt date(tn-13) = 2005-08-01
[ 1.00000000e+00  0.00000000e+00 -3.53656522e-11  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.15471849e-10  1.08345448e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2005-08-01, replacemnt date (tn-14)_ = 2005-08-01
Data Date - 2005-08-01, replacemnt date (tn-14)_ = 2005-08-01


Data Date - 2005-09-01, replacemnt date(tn-13) = 2005-09-01
Data Date - 2005-09-01, replacemnt date(tn-13) = 2005-09-01
[ 1.0000000e+00  0.0000000e+00 -5.2879567e-11  0.0000000e+00
  4.4585000e-11  0.0000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.10670848e-10  2.09057941e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2005-09-01, replacemnt date (tn-14)_ = 2005-09-01
Data Date - 2005-09-01, replacemnt date (tn-14)_ = 2005-09-01


Data Date - 2005-10-01, replacemnt date(tn-13) = 2005-10-01
Data Date - 2005-10-01, replacemnt date(tn-13) = 2005-10-01
[ 1.00000000e+00  0.00000000e+00 -1.86702704e-11  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -9.37715759e-11  1.69796850e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2005-10-01, replacemnt date (tn-14)_ = 2005-10-01
Data Date - 2005-10-01, replacemnt date (tn-14)_ = 2005-10-01


Data Date - 2005-11-01, replacemnt date(tn-13) = 2005-11-01
Data Date - 2005-11-01, replacemnt date(tn-13) = 2005-11-01
[1.00000000e+00 0.00000000e+00 1.05218996e-11 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.42764637e-10  1.92147850e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2005-11-01, replacemnt date (tn-14)_ = 2005-11-01
Data Date - 2005-11-01, replacemnt date (tn-14)_ = 2005-11-01


Data Date - 2005-12-01, replacemnt date(tn-13) = 2005-12-01
Data Date - 2005-12-01, replacemnt date(tn-13) = 2005-12-01
[1.00000000e+00 0.00000000e+00 1.26825791e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -9.03674302e-11  4.57259049e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2005-12-01, replacemnt date (tn-14)_ = 2005-12-01
Data Date - 2005-12-01, replacemnt date (tn-14)_ = 2005-12-01


Data Date - 2006-01-01, replacemnt date(tn-13) = 2006-01-01
Data Date - 2006-01-01, replacemnt date(tn-13) = 2006-01-01
[1.00000000e+00 0.00000000e+00 1.67662815e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  4.36802023e-12 -4.57425252e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2006-01-01, replacemnt date (tn-14)_ = 2006-01-01
Data Date - 2006-01-01, replacemnt date (tn-14)_ = 2006-01-01


Data Date - 2006-02-01, replacemnt date(tn-13) = 2006-02-01
Data Date - 2006-02-01, replacemnt date(tn-13) = 2006-02-01
[1.00000000e+00 0.00000000e+00 2.39864597e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  5.23390609e-11 -4.32607802e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2006-02-01, replacemnt date (tn-14)_ = 2006-02-01
Data Date - 2006-02-01, replacemnt date (tn-14)_ = 2006-02-01

 24%|██▍       | 51/214 [00:00<00:02, 55.23it/s]

Data Date - 2006-03-01, replacemnt date(tn-13) = 2006-03-01
Data Date - 2006-03-01, replacemnt date(tn-13) = 2006-03-01
[1.00000000e+00 0.00000000e+00 3.18940861e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  2.08871545e-10 -4.67010531e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2006-03-01, replacemnt date (tn-14)_ = 2006-03-01
Data Date - 2006-03-01, replacemnt date (tn-14)_ = 2006-03-01


Data Date - 2006-04-01, replacemnt date(tn-13) = 2006-04-01
Data Date - 2006-04-01, replacemnt date(tn-13) = 2006-04-01
[1.00000000e+00 0.00000000e+00 3.34681193e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  2.09683992e-10 -1.50030455e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2006-04-01, replacemnt date (tn-14)_ = 2006-04-01
Data Date - 2006-04-01, replacemnt date (tn-14)_ = 2006-04-01


Data Date - 2006-05-01, replacemnt date(tn-13) = 2006-05-01
Data Date - 2006-05-01, replacemnt date(tn-13) = 2006-05-01
[1.0000000e+00 0.0000000e+00 2.1306182e-10 0.0000000e+00 4.4585000e-11
 0.0000000e+00] [ 1.00000000e+00  1.00000000e+00  7.53056617e-11 -1.43571113e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2006-05-01, replacemnt date (tn-14)_ = 2006-05-01
Data Date - 2006-05-01, replacemnt date (tn-14)_ = 2006-05-01


Data Date - 2006-06-01, replacemnt date(tn-13) = 2006-06-01
Data Date - 2006-06-01, replacemnt date(tn-13) = 2006-06-01
[1.00000000e+00 0.00000000e+00 1.55570634e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  3.42567260e-11 -1.01385373e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2006-06-01, replacemnt date (tn-14)_ = 2006-06-01
Data Date - 2006-06-01, replacemnt date (tn-14)_ = 2006-06-01


Data Date - 2006-07-01, replacemnt date(tn-13) = 2006-07-01
Data Date - 2006-07-01, replacemnt date(tn-13) = 2006-07-01
[ 1.00000000e+00  0.00000000e+00 -9.00376774e-11  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -5.57867134e-11 -4.76451931e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2006-07-01, replacemnt date (tn-14)_ = 2006-07-01
Data Date - 2006-07-01, replacemnt date (tn-14)_ = 2006-07-01


Data Date - 2006-08-01, replacemnt date(tn-13) = 2006-08-01
Data Date - 2006-08-01, replacemnt date(tn-13) = 2006-08-01
[ 1.00000000e+00  0.00000000e+00 -1.70613341e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -6.72150275e-11  7.19091524e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2006-08-01, replacemnt date (tn-14)_ = 2006-08-01
Data Date - 2006-08-01, replacemnt date (tn-14)_ = 2006-08-01


Data Date - 2006-09-01, replacemnt date(tn-13) = 2006-09-01
Data Date - 2006-09-01, replacemnt date(tn-13) = 2006-09-01
[ 1.00000000e+00  0.00000000e+00 -1.69548351e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.26643939e-10  2.17649003e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2006-09-01, replacemnt date (tn-14)_ = 2006-09-01
Data Date - 2006-09-01, replacemnt date (tn-14)_ = 2006-09-01


Data Date - 2006-10-01, replacemnt date(tn-13) = 2006-10-01
Data Date - 2006-10-01, replacemnt date(tn-13) = 2006-10-01
[ 1.00000000e+00  0.00000000e+00 -1.74122263e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.31379253e-10  1.59038377e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2006-10-01, replacemnt date (tn-14)_ = 2006-10-01
Data Date - 2006-10-01, replacemnt date (tn-14)_ = 2006-10-01


Data Date - 2006-11-01, replacemnt date(tn-13) = 2006-11-01
Data Date - 2006-11-01, replacemnt date(tn-13) = 2006-11-01
[1.00000000e+00 0.00000000e+00 2.29094762e-11 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -9.58182685e-12  1.47741409e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2006-11-01, replacemnt date (tn-14)_ = 2006-11-01
Data Date - 2006-11-01, replacemnt date (tn-14)_ = 2006-11-01


Data Date - 2006-12-01, replacemnt date(tn-13) = 2006-12-01
Data Date - 2006-12-01, replacemnt date(tn-13) = 2006-12-01
[1.00000000e+00 0.00000000e+00 9.71194168e-11 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [1.00000000e+00 1.00000000e+00 6.07982712e-11 3.07530971e-11
 4.52960000e-11 5.07240000e-11]
Data Date - 2006-12-01, replacemnt date (tn-14)_ = 2006-12-01
Data Date - 2006-12-01, replacemnt date (tn-14)_ = 2006-12-01


Data Date - 2007-01-01, replacemnt date(tn-13) = 2007-01-01
Data Date - 2007-01-01, replacemnt date(tn-13) = 2007-01-01
[1.00000000e+00 0.00000000e+00 1.84939794e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [1.00000000e+00 1.00000000e+00 1.32116611e-10 1.36637720e-11
 4.52960000e-11 5.07240000e-11]
Data Date - 2007-01-01, replacemnt date (tn-14)_ = 2007-01-01
Data Date - 2007-01-01, replacemnt date (tn-14)_ = 2007-01-01


Data Date - 2007-02-01, replacemnt date(tn-13) = 2007-02-01
Data Date - 2007-02-01, replacemnt date(tn-13) = 2007-02-01
[1.00000000e+00 0.00000000e+00 2.31057292e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [1.00000000e+00 1.00000000e+00 1.80841481e-10 2.75390323e-11
 4.52960000e-11 5.07240000e-11]
Data Date - 2007-02-01, replacemnt date (tn-14)_ = 2007-02-01
Data Date - 2007-02-01, replacemnt date (tn-14)_ = 2007-02-01


Data Date - 2007-03-01, replacemnt date(tn-13) = 2007-03-01
Data Date - 2007-03-01, replacemnt date(tn-13) = 2007-03-01
[1.00000000e+00 0.00000000e+00 2.68530217e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [1.00000000e+00 1.00000000e+00 1.13285225e-10 1.06379707e-11
 4.52960000e-11 5.07240000e-11]
Data Date - 2007-03-01, replacemnt date (tn-14)_ = 2007-03-01
Data Date - 2007-03-01, replacemnt date (tn-14)_ = 2007-03-01

 30%|███       | 65/214 [00:01<00:02, 54.90it/s]

Data Date - 2007-04-01, replacemnt date(tn-13) = 2007-04-01
Data Date - 2007-04-01, replacemnt date(tn-13) = 2007-04-01
[1.00000000e+00 0.00000000e+00 2.65601248e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  1.34192956e-10 -8.30683487e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2007-04-01, replacemnt date (tn-14)_ = 2007-04-01
Data Date - 2007-04-01, replacemnt date (tn-14)_ = 2007-04-01


Data Date - 2007-05-01, replacemnt date(tn-13) = 2007-05-01
Data Date - 2007-05-01, replacemnt date(tn-13) = 2007-05-01
[1.00000000e+00 0.00000000e+00 2.23102077e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  1.20112904e-10 -1.41329094e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2007-05-01, replacemnt date (tn-14)_ = 2007-05-01
Data Date - 2007-05-01, replacemnt date (tn-14)_ = 2007-05-01


Data Date - 2007-06-01, replacemnt date(tn-13) = 2007-06-01
Data Date - 2007-06-01, replacemnt date(tn-13) = 2007-06-01
[1.00000000e+00 0.00000000e+00 1.12911454e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  6.88303319e-11 -9.10622244e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2007-06-01, replacemnt date (tn-14)_ = 2007-06-01
Data Date - 2007-06-01, replacemnt date (tn-14)_ = 2007-06-01


Data Date - 2007-07-01, replacemnt date(tn-13) = 2007-07-01
Data Date - 2007-07-01, replacemnt date(tn-13) = 2007-07-01
[ 1.00000000e+00  0.00000000e+00 -9.68890057e-11  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -4.98725785e-11  5.65331008e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2007-07-01, replacemnt date (tn-14)_ = 2007-07-01
Data Date - 2007-07-01, replacemnt date (tn-14)_ = 2007-07-01


Data Date - 2007-08-01, replacemnt date(tn-13) = 2007-08-01
Data Date - 2007-08-01, replacemnt date(tn-13) = 2007-08-01
[ 1.00000000e+00  0.00000000e+00 -1.51915372e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -3.55887540e-11  2.01743114e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2007-08-01, replacemnt date (tn-14)_ = 2007-08-01
Data Date - 2007-08-01, replacemnt date (tn-14)_ = 2007-08-01


Data Date - 2007-09-01, replacemnt date(tn-13) = 2007-09-01
Data Date - 2007-09-01, replacemnt date(tn-13) = 2007-09-01
[ 1.00000000e+00  0.00000000e+00 -1.94160966e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.41440773e-10  2.88767903e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2007-09-01, replacemnt date (tn-14)_ = 2007-09-01
Data Date - 2007-09-01, replacemnt date (tn-14)_ = 2007-09-01


Data Date - 2007-10-01, replacemnt date(tn-13) = 2007-10-01
Data Date - 2007-10-01, replacemnt date(tn-13) = 2007-10-01
[ 1.00000000e+00  0.00000000e+00 -2.24709709e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.48375689e-10  2.09236244e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2007-10-01, replacemnt date (tn-14)_ = 2007-10-01
Data Date - 2007-10-01, replacemnt date (tn-14)_ = 2007-10-01


Data Date - 2007-11-01, replacemnt date(tn-13) = 2007-11-01
Data Date - 2007-11-01, replacemnt date(tn-13) = 2007-11-01
[ 1.00000000e+00  0.00000000e+00 -1.73838101e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -9.87268991e-11  1.19890358e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2007-11-01, replacemnt date (tn-14)_ = 2007-11-01
Data Date - 2007-11-01, replacemnt date (tn-14)_ = 2007-11-01


Data Date - 2007-12-01, replacemnt date(tn-13) = 2007-12-01
Data Date - 2007-12-01, replacemnt date(tn-13) = 2007-12-01
[1.00000000e+00 0.00000000e+00 9.06389912e-12 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.00955673e-12  6.18750036e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2007-12-01, replacemnt date (tn-14)_ = 2007-12-01
Data Date - 2007-12-01, replacemnt date (tn-14)_ = 2007-12-01


Data Date - 2008-01-01, replacemnt date(tn-13) = 2008-01-01
Data Date - 2008-01-01, replacemnt date(tn-13) = 2008-01-01
[1.00000000e+00 0.00000000e+00 7.40808781e-11 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.54565650e-12  8.07393853e-12
  4.52960000e-11  5.07240000e-11]
Data Date - 2008-01-01, replacemnt date (tn-14)_ = 2008-01-01
Data Date - 2008-01-01, replacemnt date (tn-14)_ = 2008-01-01


Data Date - 2008-02-01, replacemnt date(tn-13) = 2008-02-01
Data Date - 2008-02-01, replacemnt date(tn-13) = 2008-02-01
[1.0000000e+00 0.0000000e+00 1.5234794e-10 0.0000000e+00 4.4585000e-11
 0.0000000e+00] [ 1.00000000e+00  1.00000000e+00  1.29626654e-10 -1.17504707e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2008-02-01, replacemnt date (tn-14)_ = 2008-02-01
Data Date - 2008-02-01, replacemnt date (tn-14)_ = 2008-02-01


Data Date - 2008-03-01, replacemnt date(tn-13) = 2008-03-01
Data Date - 2008-03-01, replacemnt date(tn-13) = 2008-03-01
[1.00000000e+00 0.00000000e+00 2.34262569e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  1.79055066e-10 -8.07378993e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2008-03-01, replacemnt date (tn-14)_ = 2008-03-01
Data Date - 2008-03-01, replacemnt date (tn-14)_ = 2008-03-01


Data Date - 2008-04-01, replacemnt date(tn-13) = 2008-04-01
Data Date - 2008-04-01, replacemnt date(tn-13) = 2008-04-01
[1.00000000e+00 0.00000000e+00 2.67753368e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  2.17045491e-10 -1.03786246e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2008-04-01, replacemnt date (tn-14)_ = 2008-04-01
Data Date - 2008-04-01, replacemnt date (tn-14)_ = 2008-04-01

 36%|███▌      | 77/214 [00:01<00:02, 53.28it/s]

Data Date - 2008-05-01, replacemnt date(tn-13) = 2008-05-01
Data Date - 2008-05-01, replacemnt date(tn-13) = 2008-05-01
[1.0000000e+00 0.0000000e+00 1.4276155e-10 0.0000000e+00 4.4585000e-11
 0.0000000e+00] [ 1.00000000e+00  1.00000000e+00  1.45909843e-10 -2.09504528e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2008-05-01, replacemnt date (tn-14)_ = 2008-05-01
Data Date - 2008-05-01, replacemnt date (tn-14)_ = 2008-05-01


Data Date - 2008-06-01, replacemnt date(tn-13) = 2008-06-01
Data Date - 2008-06-01, replacemnt date(tn-13) = 2008-06-01
[ 1.00000000e+00  0.00000000e+00 -2.24119191e-11  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  3.90381805e-11 -1.88096920e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2008-06-01, replacemnt date (tn-14)_ = 2008-06-01
Data Date - 2008-06-01, replacemnt date (tn-14)_ = 2008-06-01


Data Date - 2008-07-01, replacemnt date(tn-13) = 2008-07-01
Data Date - 2008-07-01, replacemnt date(tn-13) = 2008-07-01
[ 1.00000000e+00  0.00000000e+00 -1.16568552e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.54365852e-11 -4.71171629e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2008-07-01, replacemnt date (tn-14)_ = 2008-07-01
Data Date - 2008-07-01, replacemnt date (tn-14)_ = 2008-07-01


Data Date - 2008-08-01, replacemnt date(tn-13) = 2008-08-01
Data Date - 2008-08-01, replacemnt date(tn-13) = 2008-08-01
[ 1.00000000e+00  0.00000000e+00 -1.78608029e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -3.52669187e-11  9.42246475e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2008-08-01, replacemnt date (tn-14)_ = 2008-08-01
Data Date - 2008-08-01, replacemnt date (tn-14)_ = 2008-08-01


Data Date - 2008-09-01, replacemnt date(tn-13) = 2008-09-01
Data Date - 2008-09-01, replacemnt date(tn-13) = 2008-09-01
[ 1.00000000e+00  0.00000000e+00 -2.50122151e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.39230399e-10  1.25519918e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2008-09-01, replacemnt date (tn-14)_ = 2008-09-01
Data Date - 2008-09-01, replacemnt date (tn-14)_ = 2008-09-01


Data Date - 2008-10-01, replacemnt date(tn-13) = 2008-10-01
Data Date - 2008-10-01, replacemnt date(tn-13) = 2008-10-01
[ 1.0000000e+00  0.0000000e+00 -2.1645616e-10  0.0000000e+00
  4.4585000e-11  0.0000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.48249607e-10  7.21679908e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2008-10-01, replacemnt date (tn-14)_ = 2008-10-01
Data Date - 2008-10-01, replacemnt date (tn-14)_ = 2008-10-01


Data Date - 2008-11-01, replacemnt date(tn-13) = 2008-11-01
Data Date - 2008-11-01, replacemnt date(tn-13) = 2008-11-01
[ 1.00000000e+00  0.00000000e+00 -1.61356916e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.54437552e-10  9.09207156e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2008-11-01, replacemnt date (tn-14)_ = 2008-11-01
Data Date - 2008-11-01, replacemnt date (tn-14)_ = 2008-11-01


Data Date - 2008-12-01, replacemnt date(tn-13) = 2008-12-01
Data Date - 2008-12-01, replacemnt date(tn-13) = 2008-12-01
[ 1.00000000e+00  0.00000000e+00 -3.00018104e-11  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -3.71401381e-11  3.65689942e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2008-12-01, replacemnt date (tn-14)_ = 2008-12-01
Data Date - 2008-12-01, replacemnt date (tn-14)_ = 2008-12-01


Data Date - 2009-01-01, replacemnt date(tn-13) = 2009-01-01
Data Date - 2009-01-01, replacemnt date(tn-13) = 2009-01-01
[1.00000000e+00 0.00000000e+00 9.75157657e-11 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  4.05414570e-11 -2.11658608e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2009-01-01, replacemnt date (tn-14)_ = 2009-01-01
Data Date - 2009-01-01, replacemnt date (tn-14)_ = 2009-01-01


Data Date - 2009-02-01, replacemnt date(tn-13) = 2009-02-01
Data Date - 2009-02-01, replacemnt date(tn-13) = 2009-02-01
[1.000000e+00 0.000000e+00 3.443849e-11 0.000000e+00 4.458500e-11
 0.000000e+00] [ 1.00000000e+00  1.00000000e+00  3.77469184e-11 -7.94017037e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2009-02-01, replacemnt date (tn-14)_ = 2009-02-01
Data Date - 2009-02-01, replacemnt date (tn-14)_ = 2009-02-01


Data Date - 2009-03-01, replacemnt date(tn-13) = 2009-03-01
Data Date - 2009-03-01, replacemnt date(tn-13) = 2009-03-01
[1.00000000e+00 0.00000000e+00 1.38527684e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  1.70602971e-10 -1.04010593e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2009-03-01, replacemnt date (tn-14)_ = 2009-03-01
Data Date - 2009-03-01, replacemnt date (tn-14)_ = 2009-03-01


Data Date - 2009-04-01, replacemnt date(tn-13) = 2009-04-01
Data Date - 2009-04-01, replacemnt date(tn-13) = 2009-04-01
[1.00000000e+00 0.00000000e+00 1.88392531e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  1.96087507e-10 -1.83064385e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2009-04-01, replacemnt date (tn-14)_ = 2009-04-01
Data Date - 2009-04-01, replacemnt date (tn-14)_ = 2009-04-01

 42%|████▏     | 90/214 [00:01<00:02, 53.82it/s]

Data Date - 2009-05-01, replacemnt date(tn-13) = 2009-05-01
Data Date - 2009-05-01, replacemnt date(tn-13) = 2009-05-01
[1.00000000e+00 0.00000000e+00 1.57241606e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  1.33539731e-10 -2.59493651e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2009-05-01, replacemnt date (tn-14)_ = 2009-05-01
Data Date - 2009-05-01, replacemnt date (tn-14)_ = 2009-05-01


Data Date - 2009-06-01, replacemnt date(tn-13) = 2009-06-01
Data Date - 2009-06-01, replacemnt date(tn-13) = 2009-06-01
[1.00000000e+00 0.00000000e+00 3.11889049e-11 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  8.72623420e-11 -2.45463021e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2009-06-01, replacemnt date (tn-14)_ = 2009-06-01
Data Date - 2009-06-01, replacemnt date (tn-14)_ = 2009-06-01


Data Date - 2009-07-01, replacemnt date(tn-13) = 2009-07-01
Data Date - 2009-07-01, replacemnt date(tn-13) = 2009-07-01
[ 1.00000000e+00  0.00000000e+00 -1.69614715e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  1.23520249e-11 -1.07555634e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2009-07-01, replacemnt date (tn-14)_ = 2009-07-01
Data Date - 2009-07-01, replacemnt date (tn-14)_ = 2009-07-01


Data Date - 2009-08-01, replacemnt date(tn-13) = 2009-08-01
Data Date - 2009-08-01, replacemnt date(tn-13) = 2009-08-01
[ 1.00000000e+00  0.00000000e+00 -2.85952368e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -4.54415637e-11  4.32622070e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2009-08-01, replacemnt date (tn-14)_ = 2009-08-01
Data Date - 2009-08-01, replacemnt date (tn-14)_ = 2009-08-01


Data Date - 2009-09-01, replacemnt date(tn-13) = 2009-09-01
Data Date - 2009-09-01, replacemnt date(tn-13) = 2009-09-01
[ 1.00000000e+00  0.00000000e+00 -3.19010103e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -6.37867549e-11  8.46342798e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2009-09-01, replacemnt date (tn-14)_ = 2009-09-01
Data Date - 2009-09-01, replacemnt date (tn-14)_ = 2009-09-01


Data Date - 2009-10-01, replacemnt date(tn-13) = 2009-10-01
Data Date - 2009-10-01, replacemnt date(tn-13) = 2009-10-01
[ 1.00000000e+00  0.00000000e+00 -3.08337455e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.69023812e-10  4.83294833e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2009-10-01, replacemnt date (tn-14)_ = 2009-10-01
Data Date - 2009-10-01, replacemnt date (tn-14)_ = 2009-10-01


Data Date - 2009-11-01, replacemnt date(tn-13) = 2009-11-01
Data Date - 2009-11-01, replacemnt date(tn-13) = 2009-11-01
[ 1.00000000e+00  0.00000000e+00 -2.63218263e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -9.23244595e-11  2.62155417e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2009-11-01, replacemnt date (tn-14)_ = 2009-11-01
Data Date - 2009-11-01, replacemnt date (tn-14)_ = 2009-11-01


Data Date - 2009-12-01, replacemnt date(tn-13) = 2009-12-01
Data Date - 2009-12-01, replacemnt date(tn-13) = 2009-12-01
[ 1.00000000e+00  0.00000000e+00 -7.22861169e-11  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -5.46029949e-11 -9.22919968e-12
  4.52960000e-11  5.07240000e-11]
Data Date - 2009-12-01, replacemnt date (tn-14)_ = 2009-12-01
Data Date - 2009-12-01, replacemnt date (tn-14)_ = 2009-12-01


Data Date - 2010-01-01, replacemnt date(tn-13) = 2010-01-01
Data Date - 2010-01-01, replacemnt date(tn-13) = 2010-01-01
[1.00000000e+00 0.00000000e+00 7.30037417e-11 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [1.00000000e+00 1.00000000e+00 9.04801442e-11 1.19117172e-11
 4.52960000e-11 5.07240000e-11]
Data Date - 2010-01-01, replacemnt date (tn-14)_ = 2010-01-01
Data Date - 2010-01-01, replacemnt date (tn-14)_ = 2010-01-01


Data Date - 2010-02-01, replacemnt date(tn-13) = 2010-02-01
Data Date - 2010-02-01, replacemnt date(tn-13) = 2010-02-01
[1.00000000e+00 0.00000000e+00 7.67181637e-12 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  1.00266216e-10 -5.83521461e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2010-02-01, replacemnt date (tn-14)_ = 2010-02-01
Data Date - 2010-02-01, replacemnt date (tn-14)_ = 2010-02-01


Data Date - 2010-03-01, replacemnt date(tn-13) = 2010-03-01
Data Date - 2010-03-01, replacemnt date(tn-13) = 2010-03-01
[1.00000000e+00 0.00000000e+00 1.91862543e-12 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  1.67066622e-10 -6.72265491e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2010-03-01, replacemnt date (tn-14)_ = 2010-03-01
Data Date - 2010-03-01, replacemnt date (tn-14)_ = 2010-03-01


Data Date - 2010-04-01, replacemnt date(tn-13) = 2010-04-01
Data Date - 2010-04-01, replacemnt date(tn-13) = 2010-04-01
[1.00000000e+00 0.00000000e+00 4.31446567e-11 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  1.57904377e-10 -8.05284323e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2010-04-01, replacemnt date (tn-14)_ = 2010-04-01
Data Date - 2010-04-01, replacemnt date (tn-14)_ = 2010-04-01

 48%|████▊     | 102/214 [00:01<00:02, 55.30it/s]

Data Date - 2010-05-01, replacemnt date(tn-13) = 2010-05-01
Data Date - 2010-05-01, replacemnt date(tn-13) = 2010-05-01
[1.00000000e+00 0.00000000e+00 1.07949969e-10 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  1.15575786e-10 -6.15319543e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2010-05-01, replacemnt date (tn-14)_ = 2010-05-01
Data Date - 2010-05-01, replacemnt date (tn-14)_ = 2010-05-01


Data Date - 2010-06-01, replacemnt date(tn-13) = 2010-06-01
Data Date - 2010-06-01, replacemnt date(tn-13) = 2010-06-01
[ 1.00000000e+00  0.00000000e+00 -9.84097745e-11  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -4.39810234e-11 -1.42011081e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2010-06-01, replacemnt date (tn-14)_ = 2010-06-01
Data Date - 2010-06-01, replacemnt date (tn-14)_ = 2010-06-01


Data Date - 2010-07-01, replacemnt date(tn-13) = 2010-07-01
Data Date - 2010-07-01, replacemnt date(tn-13) = 2010-07-01
[ 1.00000000e+00  0.00000000e+00 -2.39272394e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.82738373e-11 -6.87589959e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2010-07-01, replacemnt date (tn-14)_ = 2010-07-01
Data Date - 2010-07-01, replacemnt date (tn-14)_ = 2010-07-01


Data Date - 2010-08-01, replacemnt date(tn-13) = 2010-08-01
Data Date - 2010-08-01, replacemnt date(tn-13) = 2010-08-01
[ 1.00000000e+00  0.00000000e+00 -3.62978637e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.05520599e-10  7.46887789e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2010-08-01, replacemnt date (tn-14)_ = 2010-08-01
Data Date - 2010-08-01, replacemnt date (tn-14)_ = 2010-08-01


Data Date - 2010-09-01, replacemnt date(tn-13) = 2010-09-01
Data Date - 2010-09-01, replacemnt date(tn-13) = 2010-09-01
[ 1.00000000e+00  0.00000000e+00 -3.83720929e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.05244704e-10  2.29641694e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2010-09-01, replacemnt date (tn-14)_ = 2010-09-01
Data Date - 2010-09-01, replacemnt date (tn-14)_ = 2010-09-01


Data Date - 2010-10-01, replacemnt date(tn-13) = 2010-10-01
Data Date - 2010-10-01, replacemnt date(tn-13) = 2010-10-01
[ 1.0000000e+00  0.0000000e+00 -3.2908446e-10  0.0000000e+00
  4.4585000e-11  0.0000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.81320294e-10  2.57603053e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2010-10-01, replacemnt date (tn-14)_ = 2010-10-01
Data Date - 2010-10-01, replacemnt date (tn-14)_ = 2010-10-01


Data Date - 2010-11-01, replacemnt date(tn-13) = 2010-11-01
Data Date - 2010-11-01, replacemnt date(tn-13) = 2010-11-01
[ 1.00000000e+00  0.00000000e+00 -2.43479645e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.25809889e-10  1.83083045e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2010-11-01, replacemnt date (tn-14)_ = 2010-11-01
Data Date - 2010-11-01, replacemnt date (tn-14)_ = 2010-11-01


Data Date - 2010-12-01, replacemnt date(tn-13) = 2010-12-01
Data Date - 2010-12-01, replacemnt date(tn-13) = 2010-12-01
[ 1.00000000e+00  0.00000000e+00 -1.06301659e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -4.34510605e-11  1.12717234e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2010-12-01, replacemnt date (tn-14)_ = 2010-12-01
Data Date - 2010-12-01, replacemnt date (tn-14)_ = 2010-12-01


Data Date - 2011-02-01, replacemnt date(tn-13) = 2011-02-08
Data Date - 2011-02-01, replacemnt date(tn-13) = 2011-02-08
[ 1.00000000e+00  0.00000000e+00 -1.11603475e-11  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [1.00000000e+00 1.00000000e+00 7.38351064e-11 1.72424342e-11
 4.52960000e-11 5.07240000e-11]
Data Date - 2011-02-01, replacemnt date (tn-14)_ = 2011-02-08
Data Date - 2011-02-01, replacemnt date (tn-14)_ = 2011-02-08


Data Date - 2011-03-01, replacemnt date(tn-13) = 2011-02-08
Data Date - 2011-03-01, replacemnt date(tn-13) = 2011-02-08
Data Date - 2011-03-01, replacemnt date(tn-13) = 2011-03-01
Data Date - 2011-03-01, replacemnt date(tn-13) = 2011-03-01
[ 1.00000000e+00  0.00000000e+00 -1.11603475e-11  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [1.00000000e+00 1.00000000e+00 7.38351064e-11 1.72424342e-11
 4.52960000e-11 5.07240000e-11]
Data Date - 2011-03-01, replacemnt date (tn-14)_ = 2011-02-08
Data Date - 2011-03-01, replacemnt date (tn-14)_ = 2011-03-01
Data Date - 2011-03-01, replacemnt date (tn-14)_ = 2011-02-08
Data Date - 2011-03-01, replacemnt date (tn-14)_ = 2011-03-01


Data Date - 2011-04-01, replacemnt date(tn-13) = 2011-04-01
Data Date - 2011-04-01, replacemnt date(tn-13) = 2011-04-01
[1.0000000e+00 0.0000000e+00 4.5247531e-11 0.0000000e+00 4.4585000e-11
 0.0000000e+00] [ 1.00000000e+00  1.00000000e+00  1.52137539e-10 -9.93857631e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2011-04-01, replacemnt date (tn-14)_ = 2011-04-01
Data Date - 2011-04-01, replacemnt date (tn-14)_ = 2011-04-01


Data Date - 2011-05-01, replacemnt date(tn-13) = 2011-05-01
Data Date - 2011-05-01, replacemnt date(tn-13) = 2011-05-01
[1.00000000e+00 0.00000000e+00 1.92070086e-12 0.00000000e+00
 4.45850000e-11 0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  1.19237304e-10 -1.66149501e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2011-05-01, replacemnt date (tn-14)_ = 2011-05-01
Data Date - 2011-05-01, replacemnt date (tn-14)_ = 2011-05-01


Data Date - 2011-07-01, replacemnt date(tn-13) = 2011-07-05
Data Date - 2011-07-01, replacemnt date(tn-13) = 2011-07-05
[ 1.00000000e+00  0.00000000e+00 -3.51196908e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -9.60219222e-11 -1.59870971e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2011-07-01, replacemnt date (tn-14)_ = 2011-07-05
Data Date - 2011-07-01, replacemnt date (tn-14)_ = 2011-07-05

 54%|█████▎    | 115/214 [00:02<00:01, 55.34it/s]

Data Date - 2011-08-01, replacemnt date(tn-13) = 2011-08-01
Data Date - 2011-08-01, replacemnt date(tn-13) = 2011-08-01
[ 1.00000000e+00  0.00000000e+00 -4.05604684e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.40648996e-10  1.40618792e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2011-08-01, replacemnt date (tn-14)_ = 2011-08-01
Data Date - 2011-08-01, replacemnt date (tn-14)_ = 2011-08-01


Data Date - 2011-09-01, replacemnt date(tn-13) = 2011-09-01
Data Date - 2011-09-01, replacemnt date(tn-13) = 2011-09-01
[ 1.00000000e+00  0.00000000e+00 -4.44734897e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.73895246e-10  2.64854077e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2011-09-01, replacemnt date (tn-14)_ = 2011-09-01
Data Date - 2011-09-01, replacemnt date (tn-14)_ = 2011-09-01


Data Date - 2011-10-01, replacemnt date(tn-13) = 2011-10-01
Data Date - 2011-10-01, replacemnt date(tn-13) = 2011-10-01
Data Date - 2011-10-01, replacemnt date(tn-13) = 2011-10-16
Data Date - 2011-10-01, replacemnt date(tn-13) = 2011-10-16
[ 1.0000000e+00  0.0000000e+00 -4.9137642e-10  0.0000000e+00
  4.4585000e-11  0.0000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.68876183e-10  2.24712634e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2011-10-01, replacemnt date (tn-14)_ = 2011-10-01
Data Date - 2011-10-01, replacemnt date (tn-14)_ = 2011-10-17
Data Date - 2011-10-01, replacemnt date (tn-14)_ = 2011-10-01
Data Date - 2011-10-01, replacemnt date (tn-14)_ = 2011-10-17


Data Date - 2011-11-01, replacemnt date(tn-13) = 2011-10-16
Data Date - 2011-11-01, replacemnt date(tn-13) = 2011-10-16
[ 1.00000000e+00  0.00000000e+00 -4.82445748e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.55518252e-10  1.99206979e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2011-11-01, replacemnt date (tn-14)_ = 2011-10-17
Data Date - 2011-11-01, replacemnt date (tn-14)_ = 2011-10-17


Data Date - 2011-12-01, replacemnt date(tn-13) = 2011-12-13
Data Date - 2011-12-01, replacemnt date(tn-13) = 2011-12-13
[ 1.00000000e+00  0.00000000e+00 -2.52738664e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -9.57423681e-11  1.03923490e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2011-12-01, replacemnt date (tn-14)_ = 2011-12-17
Data Date - 2011-12-01, replacemnt date (tn-14)_ = 2011-12-17


Data Date - 2012-01-01, replacemnt date(tn-13) = 2011-12-13
Data Date - 2012-01-01, replacemnt date(tn-13) = 2011-12-13
Data Date - 2012-01-01, replacemnt date(tn-13) = 2012-01-01
Data Date - 2012-01-01, replacemnt date(tn-13) = 2012-01-01
[ 1.00000000e+00  0.00000000e+00 -2.42906929e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -5.29055601e-11  7.24993593e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2012-01-01, replacemnt date (tn-14)_ = 2011-12-17
Data Date - 2012-01-01, replacemnt date (tn-14)_ = 2012-01-01
Data Date - 2012-01-01, replacemnt date (tn-14)_ = 2011-12-17
Data Date - 2012-01-01, replacemnt date (tn-14)_ = 2012-01-01


Data Date - 2012-02-01, replacemnt date(tn-13) = 2012-02-01
Data Date - 2012-02-01, replacemnt date(tn-13) = 2012-02-01
[ 1.00000000e+00  0.00000000e+00 -2.06339648e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -5.18572366e-11 -3.27509974e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2012-02-01, replacemnt date (tn-14)_ = 2012-02-01
Data Date - 2012-02-01, replacemnt date (tn-14)_ = 2012-02-01


Data Date - 2012-03-01, replacemnt date(tn-13) = 2012-03-01
Data Date - 2012-03-01, replacemnt date(tn-13) = 2012-03-01
Data Date - 2012-03-01, replacemnt date(tn-13) = 2012-03-20
Data Date - 2012-03-01, replacemnt date(tn-13) = 2012-03-20
[ 1.00000000e+00  0.00000000e+00 -9.41514641e-11  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  3.39465627e-11 -2.74081103e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2012-03-01, replacemnt date (tn-14)_ = 2012-03-01
Data Date - 2012-03-01, replacemnt date (tn-14)_ = 2012-03-20
Data Date - 2012-03-01, replacemnt date (tn-14)_ = 2012-03-01
Data Date - 2012-03-01, replacemnt date (tn-14)_ = 2012-03-20


Data Date - 2012-04-01, replacemnt date(tn-13) = 2012-03-20
Data Date - 2012-04-01, replacemnt date(tn-13) = 2012-03-20
[ 1.00000000e+00  0.00000000e+00 -9.39189033e-11  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -8.79666993e-12 -7.97376064e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2012-04-01, replacemnt date (tn-14)_ = 2012-03-20
Data Date - 2012-04-01, replacemnt date (tn-14)_ = 2012-03-20


Data Date - 2012-06-01, replacemnt date(tn-13) = 2012-06-01
Data Date - 2012-06-01, replacemnt date(tn-13) = 2012-06-01
[ 1.00000000e+00  0.00000000e+00 -3.15964122e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.02708312e-10 -1.75375786e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2012-06-01, replacemnt date (tn-14)_ = 2012-06-01
Data Date - 2012-06-01, replacemnt date (tn-14)_ = 2012-06-01


Data Date - 2012-07-01, replacemnt date(tn-13) = 2012-07-01
Data Date - 2012-07-01, replacemnt date(tn-13) = 2012-07-01
[ 1.00000000e+00  0.00000000e+00 -5.17455136e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.79319812e-10 -5.24078990e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2012-07-01, replacemnt date (tn-14)_ = 2012-07-01
Data Date - 2012-07-01, replacemnt date (tn-14)_ = 2012-07-01


Data Date - 2012-08-01, replacemnt date(tn-13) = 2012-08-01
Data Date - 2012-08-01, replacemnt date(tn-13) = 2012-08-01
[ 1.00000000e+00  0.00000000e+00 -5.94520342e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.64244605e-10  1.97452934e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2012-08-01, replacemnt date (tn-14)_ = 2012-08-01
Data Date - 2012-08-01, replacemnt date (tn-14)_ = 2012-08-01

 60%|█████▉    | 128/214 [00:02<00:01, 57.32it/s]

Data Date - 2012-09-01, replacemnt date(tn-13) = 2012-09-01
Data Date - 2012-09-01, replacemnt date(tn-13) = 2012-09-01
[ 1.0000000e+00  0.0000000e+00 -6.1728251e-10  0.0000000e+00
  4.4585000e-11  0.0000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.26773987e-10  3.25682455e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2012-09-01, replacemnt date (tn-14)_ = 2012-09-01
Data Date - 2012-09-01, replacemnt date (tn-14)_ = 2012-09-01


Data Date - 2012-11-01, replacemnt date(tn-13) = 2012-11-06
Data Date - 2012-11-01, replacemnt date(tn-13) = 2012-11-06
[ 1.00000000e+00  0.00000000e+00 -4.10792155e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.94551881e-10  2.42160458e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2012-11-01, replacemnt date (tn-14)_ = 2012-11-06
Data Date - 2012-11-01, replacemnt date (tn-14)_ = 2012-11-06


Data Date - 2012-12-01, replacemnt date(tn-13) = 2012-12-01
Data Date - 2012-12-01, replacemnt date(tn-13) = 2012-12-01
[ 1.00000000e+00  0.00000000e+00 -4.50447759e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.48685663e-10  1.64027394e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2012-12-01, replacemnt date (tn-14)_ = 2012-12-01
Data Date - 2012-12-01, replacemnt date (tn-14)_ = 2012-12-01


Data Date - 2013-01-01, replacemnt date(tn-13) = 2013-01-01
Data Date - 2013-01-01, replacemnt date(tn-13) = 2013-01-01
[ 1.00000000e+00  0.00000000e+00 -2.82818985e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.10761663e-10  1.92497218e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2013-01-01, replacemnt date (tn-14)_ = 2013-01-01
Data Date - 2013-01-01, replacemnt date (tn-14)_ = 2013-01-01


Data Date - 2013-02-01, replacemnt date(tn-13) = 2013-02-01
Data Date - 2013-02-01, replacemnt date(tn-13) = 2013-02-01
[ 1.0000000e+00  0.0000000e+00 -2.5217716e-10  0.0000000e+00
  4.4585000e-11  0.0000000e+00] [ 1.00000000e+00  1.00000000e+00 -4.64881043e-11  1.07029899e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2013-02-01, replacemnt date (tn-14)_ = 2013-02-01
Data Date - 2013-02-01, replacemnt date (tn-14)_ = 2013-02-01


Data Date - 2013-04-01, replacemnt date(tn-13) = 2013-04-11
Data Date - 2013-04-01, replacemnt date(tn-13) = 2013-04-11
[ 1.00000000e+00  0.00000000e+00 -9.68418599e-11  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  8.83333389e-11 -3.17825879e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2013-04-01, replacemnt date (tn-14)_ = 2013-04-11
Data Date - 2013-04-01, replacemnt date (tn-14)_ = 2013-04-11


Data Date - 2013-05-01, replacemnt date(tn-13) = 2013-04-11
Data Date - 2013-05-01, replacemnt date(tn-13) = 2013-04-11
Data Date - 2013-05-01, replacemnt date(tn-13) = 2013-05-01
Data Date - 2013-05-01, replacemnt date(tn-13) = 2013-05-01
[ 1.00000000e+00  0.00000000e+00 -9.68418599e-11  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  8.83333389e-11 -3.17825879e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2013-05-01, replacemnt date (tn-14)_ = 2013-04-11
Data Date - 2013-05-01, replacemnt date (tn-14)_ = 2013-05-01
Data Date - 2013-05-01, replacemnt date (tn-14)_ = 2013-04-11
Data Date - 2013-05-01, replacemnt date (tn-14)_ = 2013-05-01


Data Date - 2013-06-01, replacemnt date(tn-13) = 2013-06-01
Data Date - 2013-06-01, replacemnt date(tn-13) = 2013-06-01
[ 1.00000000e+00  0.00000000e+00 -2.17093834e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.90707059e-11 -8.81136058e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2013-06-01, replacemnt date (tn-14)_ = 2013-06-01
Data Date - 2013-06-01, replacemnt date (tn-14)_ = 2013-06-01


Data Date - 2013-07-01, replacemnt date(tn-13) = 2013-07-01
Data Date - 2013-07-01, replacemnt date(tn-13) = 2013-07-01
[ 1.00000000e+00  0.00000000e+00 -4.75902171e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.35137847e-10  6.62348764e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2013-07-01, replacemnt date (tn-14)_ = 2013-07-01
Data Date - 2013-07-01, replacemnt date (tn-14)_ = 2013-07-01


Data Date - 2013-10-01, replacemnt date(tn-13) = 2013-10-01
Data Date - 2013-10-01, replacemnt date(tn-13) = 2013-10-01
[ 1.00000000e+00  0.00000000e+00 -4.90844092e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.96637275e-10  2.19057687e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2013-10-01, replacemnt date (tn-14)_ = 2013-10-01
Data Date - 2013-10-01, replacemnt date (tn-14)_ = 2013-10-01


Data Date - 2013-11-01, replacemnt date(tn-13) = 2013-11-01
Data Date - 2013-11-01, replacemnt date(tn-13) = 2013-11-01
[ 1.00000000e+00  0.00000000e+00 -4.07250206e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.09803473e-10  1.97653753e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2013-11-01, replacemnt date (tn-14)_ = 2013-11-01
Data Date - 2013-11-01, replacemnt date (tn-14)_ = 2013-11-01


Data Date - 2013-12-01, replacemnt date(tn-13) = 2013-12-01
Data Date - 2013-12-01, replacemnt date(tn-13) = 2013-12-01
[ 1.00000000e+00  0.00000000e+00 -2.76449996e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.12516144e-10  1.17496476e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2013-12-01, replacemnt date (tn-14)_ = 2013-12-01
Data Date - 2013-12-01, replacemnt date (tn-14)_ = 2013-12-01


Data Date - 2014-01-01, replacemnt date(tn-13) = 2014-01-01
Data Date - 2014-01-01, replacemnt date(tn-13) = 2014-01-01
[ 1.00000000e+00  0.00000000e+00 -1.47932066e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -4.29955388e-11  9.17628478e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2014-01-01, replacemnt date (tn-14)_ = 2014-01-01
Data Date - 2014-01-01, replacemnt date (tn-14)_ = 2014-01-01


Data Date - 2014-03-01, replacemnt date(tn-13) = 2014-03-03
Data Date - 2014-03-01, replacemnt date(tn-13) = 2014-03-03
[ 1.00000000e+00  0.00000000e+00 -1.03526387e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [1.00000000e+00 1.00000000e+00 1.42467085e-10 9.50090371e-12
 4.52960000e-11 5.07240000e-11]
Data Date - 2014-03-01, replacemnt date (tn-14)_ = 2014-03-01
Data Date - 2014-03-01, replacemnt date (tn-14)_ = 2014-03-01

 66%|██████▌   | 141/214 [00:02<00:01, 58.37it/s]

Data Date - 2014-04-01, replacemnt date(tn-13) = 2014-04-01
Data Date - 2014-04-01, replacemnt date(tn-13) = 2014-04-01
[ 1.000000e+00  0.000000e+00 -1.503346e-10  0.000000e+00  4.458500e-11
  0.000000e+00] [ 1.00000000e+00  1.00000000e+00  1.01125636e-10 -8.96218213e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2014-04-01, replacemnt date (tn-14)_ = 2014-04-01
Data Date - 2014-04-01, replacemnt date (tn-14)_ = 2014-04-01


Data Date - 2014-05-01, replacemnt date(tn-13) = 2014-05-01
Data Date - 2014-05-01, replacemnt date(tn-13) = 2014-05-01
[ 1.00000000e+00  0.00000000e+00 -1.29654342e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  7.10463289e-11 -7.94688183e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2014-05-01, replacemnt date (tn-14)_ = 2014-05-01
Data Date - 2014-05-01, replacemnt date (tn-14)_ = 2014-05-01


Data Date - 2014-06-01, replacemnt date(tn-13) = 2014-06-01
Data Date - 2014-06-01, replacemnt date(tn-13) = 2014-06-01
[ 1.00000000e+00  0.00000000e+00 -3.00569752e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.07701317e-11 -1.10922574e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2014-06-01, replacemnt date (tn-14)_ = 2014-06-01
Data Date - 2014-06-01, replacemnt date (tn-14)_ = 2014-06-01


Data Date - 2014-08-01, replacemnt date(tn-13) = 2014-08-01
Data Date - 2014-08-01, replacemnt date(tn-13) = 2014-08-01
[ 1.0000000e+00  0.0000000e+00 -5.9480315e-10  0.0000000e+00
  4.4585000e-11  0.0000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.25373039e-10  1.01238178e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2014-08-01, replacemnt date (tn-14)_ = 2014-08-01
Data Date - 2014-08-01, replacemnt date (tn-14)_ = 2014-08-01


Data Date - 2014-09-01, replacemnt date(tn-13) = 2014-09-01
Data Date - 2014-09-01, replacemnt date(tn-13) = 2014-09-01
[ 1.00000000e+00  0.00000000e+00 -6.60830854e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.65871253e-10  1.69397365e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2014-09-01, replacemnt date (tn-14)_ = 2014-09-01
Data Date - 2014-09-01, replacemnt date (tn-14)_ = 2014-09-01


Data Date - 2014-10-01, replacemnt date(tn-13) = 2014-10-01
Data Date - 2014-10-01, replacemnt date(tn-13) = 2014-10-01
[ 1.00000000e+00  0.00000000e+00 -5.64207066e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.82342811e-10  2.66052331e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2014-10-01, replacemnt date (tn-14)_ = 2014-10-01
Data Date - 2014-10-01, replacemnt date (tn-14)_ = 2014-10-01


Data Date - 2014-11-01, replacemnt date(tn-13) = 2014-11-01
Data Date - 2014-11-01, replacemnt date(tn-13) = 2014-11-01
[ 1.00000000e+00  0.00000000e+00 -4.68859201e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.72544155e-10  1.82163795e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2014-11-01, replacemnt date (tn-14)_ = 2014-11-01
Data Date - 2014-11-01, replacemnt date (tn-14)_ = 2014-11-01


Data Date - 2015-01-01, replacemnt date(tn-13) = 2015-01-13
Data Date - 2015-01-01, replacemnt date(tn-13) = 2015-01-13
[ 1.00000000e+00  0.00000000e+00 -3.30739962e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -9.73299696e-11  9.92501049e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2015-01-01, replacemnt date (tn-14)_ = 2015-01-13
Data Date - 2015-01-01, replacemnt date (tn-14)_ = 2015-01-13


Data Date - 2015-02-01, replacemnt date(tn-13) = 2015-01-13
Data Date - 2015-02-01, replacemnt date(tn-13) = 2015-01-13
Data Date - 2015-02-01, replacemnt date(tn-13) = 2015-02-01
Data Date - 2015-02-01, replacemnt date(tn-13) = 2015-02-01
[ 1.00000000e+00  0.00000000e+00 -3.30739962e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -9.73299696e-11  9.92501049e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2015-02-01, replacemnt date (tn-14)_ = 2015-01-13
Data Date - 2015-02-01, replacemnt date (tn-14)_ = 2015-02-01
Data Date - 2015-02-01, replacemnt date (tn-14)_ = 2015-01-13
Data Date - 2015-02-01, replacemnt date (tn-14)_ = 2015-02-01


Data Date - 2015-03-01, replacemnt date(tn-13) = 2015-03-01
Data Date - 2015-03-01, replacemnt date(tn-13) = 2015-03-01
[ 1.0000000e+00  0.0000000e+00 -2.0157551e-10  0.0000000e+00
  4.4585000e-11  0.0000000e+00] [ 1.00000000e+00  1.00000000e+00 -3.31359882e-11 -4.28150220e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2015-03-01, replacemnt date (tn-14)_ = 2015-03-01
Data Date - 2015-03-01, replacemnt date (tn-14)_ = 2015-03-01


Data Date - 2015-04-01, replacemnt date(tn-13) = 2015-04-01
Data Date - 2015-04-01, replacemnt date(tn-13) = 2015-04-01
Data Date - 2015-04-01, replacemnt date(tn-13) = 2015-04-12
Data Date - 2015-04-01, replacemnt date(tn-13) = 2015-04-12
[ 1.0000000e+00  0.0000000e+00 -2.2841753e-10  0.0000000e+00
  4.4585000e-11  0.0000000e+00] [ 1.00000000e+00  1.00000000e+00  6.16809162e-11 -9.47265573e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2015-04-01, replacemnt date (tn-14)_ = 2015-04-01
Data Date - 2015-04-01, replacemnt date (tn-14)_ = 2015-04-12
Data Date - 2015-04-01, replacemnt date (tn-14)_ = 2015-04-01
Data Date - 2015-04-01, replacemnt date (tn-14)_ = 2015-04-12


Data Date - 2015-07-01, replacemnt date(tn-13) = 2015-06-29
Data Date - 2015-07-01, replacemnt date(tn-13) = 2015-06-29
[ 1.0000000e+00  0.0000000e+00 -5.7536785e-10  0.0000000e+00
  4.4585000e-11  0.0000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.68686821e-10 -6.47982352e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2015-07-01, replacemnt date (tn-14)_ = 2015-06-29
Data Date - 2015-07-01, replacemnt date (tn-14)_ = 2015-06-29


Data Date - 2015-08-01, replacemnt date(tn-13) = 2015-08-01
Data Date - 2015-08-01, replacemnt date(tn-13) = 2015-08-01
[ 1.00000000e+00  0.00000000e+00 -6.44569591e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.21133425e-10  1.17912538e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2015-08-01, replacemnt date (tn-14)_ = 2015-08-01
Data Date - 2015-08-01, replacemnt date (tn-14)_ = 2015-08-01


Data Date - 2015-09-01, replacemnt date(tn-13) = 2015-09-01
Data Date - 2015-09-01, replacemnt date(tn-13) = 2015-09-01
[ 1.00000000e+00  0.00000000e+00 -7.14002969e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.81569608e-10  1.58397293e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2015-09-01, replacemnt date (tn-14)_ = 2015-09-01

 72%|███████▏  | 155/214 [00:02<00:00, 59.62it/s]

Data Date - 2015-09-01, replacemnt date (tn-14)_ = 2015-09-01


Data Date - 2015-12-01, replacemnt date(tn-13) = 2015-12-11
Data Date - 2015-12-01, replacemnt date(tn-13) = 2015-12-11
[ 1.00000000e+00  0.00000000e+00 -3.66597605e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.94547062e-10  1.23820179e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2015-12-01, replacemnt date (tn-14)_ = 2015-12-12
Data Date - 2015-12-01, replacemnt date (tn-14)_ = 2015-12-12


Data Date - 2016-01-01, replacemnt date(tn-13) = 2015-12-11
Data Date - 2016-01-01, replacemnt date(tn-13) = 2015-12-11
Data Date - 2016-01-01, replacemnt date(tn-13) = 2016-01-04
Data Date - 2016-01-01, replacemnt date(tn-13) = 2016-01-04
[ 1.00000000e+00  0.00000000e+00 -3.66597605e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.94547062e-10  1.23820179e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2016-01-01, replacemnt date (tn-14)_ = 2015-12-12
Data Date - 2016-01-01, replacemnt date (tn-14)_ = 2016-01-04
Data Date - 2016-01-01, replacemnt date (tn-14)_ = 2015-12-12
Data Date - 2016-01-01, replacemnt date (tn-14)_ = 2016-01-04


Data Date - 2016-02-01, replacemnt date(tn-13) = 2016-01-29
Data Date - 2016-02-01, replacemnt date(tn-13) = 2016-01-29
[ 1.00000000e+00  0.00000000e+00 -3.33432037e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.92975394e-10  1.10539987e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2016-02-01, replacemnt date (tn-14)_ = 2016-01-29
Data Date - 2016-02-01, replacemnt date (tn-14)_ = 2016-01-29


Data Date - 2016-03-01, replacemnt date(tn-13) = 2016-03-01
Data Date - 2016-03-01, replacemnt date(tn-13) = 2016-03-01
[ 1.00000000e+00  0.00000000e+00 -3.14554183e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.28075338e-10 -2.57308382e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2016-03-01, replacemnt date (tn-14)_ = 2016-03-01
Data Date - 2016-03-01, replacemnt date (tn-14)_ = 2016-03-01


Data Date - 2016-05-01, replacemnt date(tn-13) = 2016-05-08
Data Date - 2016-05-01, replacemnt date(tn-13) = 2016-05-08
[ 1.00000000e+00  0.00000000e+00 -2.22436119e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -7.62013075e-11 -3.71617735e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2016-05-01, replacemnt date (tn-14)_ = 2016-05-08
Data Date - 2016-05-01, replacemnt date (tn-14)_ = 2016-05-08


Data Date - 2016-06-01, replacemnt date(tn-13) = 2016-06-01
Data Date - 2016-06-01, replacemnt date(tn-13) = 2016-06-01
[ 1.00000000e+00  0.00000000e+00 -4.04460906e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.44116312e-10 -3.81091548e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2016-06-01, replacemnt date (tn-14)_ = 2016-06-01
Data Date - 2016-06-01, replacemnt date (tn-14)_ = 2016-06-01


Data Date - 2016-07-01, replacemnt date(tn-13) = 2016-07-01
Data Date - 2016-07-01, replacemnt date(tn-13) = 2016-07-01
[ 1.00000000e+00  0.00000000e+00 -6.15632203e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.04209542e-10  1.30621085e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2016-07-01, replacemnt date (tn-14)_ = 2016-07-01
Data Date - 2016-07-01, replacemnt date (tn-14)_ = 2016-07-01


Data Date - 2016-08-01, replacemnt date(tn-13) = 2016-08-08
Data Date - 2016-08-01, replacemnt date(tn-13) = 2016-08-08
[ 1.00000000e+00  0.00000000e+00 -7.03302163e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.57618312e-10  2.54284965e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2016-08-01, replacemnt date (tn-14)_ = 2016-08-08
Data Date - 2016-08-01, replacemnt date (tn-14)_ = 2016-08-08


Data Date - 2016-11-01, replacemnt date(tn-13) = 2016-11-14
Data Date - 2016-11-01, replacemnt date(tn-13) = 2016-11-14
[ 1.00000000e+00  0.00000000e+00 -4.82038618e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -3.53639326e-10  2.05279423e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2016-11-01, replacemnt date (tn-14)_ = 2016-11-14
Data Date - 2016-11-01, replacemnt date (tn-14)_ = 2016-11-14


Data Date - 2016-12-01, replacemnt date(tn-13) = 2016-11-14
Data Date - 2016-12-01, replacemnt date(tn-13) = 2016-11-14
Data Date - 2016-12-01, replacemnt date(tn-13) = 2016-12-11
Data Date - 2016-12-01, replacemnt date(tn-13) = 2016-12-11
[ 1.00000000e+00  0.00000000e+00 -4.82038618e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -3.53639326e-10  2.05279423e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2016-12-01, replacemnt date (tn-14)_ = 2016-11-14
Data Date - 2016-12-01, replacemnt date (tn-14)_ = 2016-12-11
Data Date - 2016-12-01, replacemnt date (tn-14)_ = 2016-11-14
Data Date - 2016-12-01, replacemnt date (tn-14)_ = 2016-12-11


Data Date - 2017-01-01, replacemnt date(tn-13) = 2016-12-11
Data Date - 2017-01-01, replacemnt date(tn-13) = 2016-12-11
Data Date - 2017-01-01, replacemnt date(tn-13) = 2017-01-07
Data Date - 2017-01-01, replacemnt date(tn-13) = 2017-01-07
[ 1.00000000e+00  0.00000000e+00 -4.92176757e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -3.51706149e-10  1.30859141e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2017-01-01, replacemnt date (tn-14)_ = 2016-12-11
Data Date - 2017-01-01, replacemnt date (tn-14)_ = 2017-01-07
Data Date - 2017-01-01, replacemnt date (tn-14)_ = 2016-12-11
Data Date - 2017-01-01, replacemnt date (tn-14)_ = 2017-01-07


Data Date - 2017-03-01, replacemnt date(tn-13) = 2017-03-17
Data Date - 2017-03-01, replacemnt date(tn-13) = 2017-03-17
[ 1.00000000e+00  0.00000000e+00 -1.71548858e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  2.36751483e-11 -3.87390576e-12
  4.52960000e-11  5.07240000e-11]
Data Date - 2017-03-01, replacemnt date (tn-14)_ = 2017-03-17
Data Date - 2017-03-01, replacemnt date (tn-14)_ = 2017-03-17


Data Date - 2017-04-01, replacemnt date(tn-13) = 2017-03-17
Data Date - 2017-04-01, replacemnt date(tn-13) = 2017-03-17
Data Date - 2017-04-01, replacemnt date(tn-13) = 2017-04-10
Data Date - 2017-04-01, replacemnt date(tn-13) = 2017-04-10
[ 1.0000000e+00  0.0000000e+00 -3.2831994e-10  0.0000000e+00
  4.4585000e-11  0.0000000e+00] [ 1.00000000e+00  1.00000000e+00 -6.76824569e-11 -6.32003039e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2017-04-01, replacemnt date (tn-14)_ = 2017-03-17
Data Date - 2017-04-01, replacemnt date (tn-14)_ = 2017-04-10
Data Date - 2017-04-01, replacemnt date (tn-14)_ = 2017-03-17
Data Date - 2017-04-01, replacemnt date (tn-14)_ = 2017-04-10


Data Date - 2017-05-01, replacemnt date(tn-13) = 2017-04-10
Data Date - 2017-05-01, replacemnt date(tn-13) = 2017-04-10
Data Date - 2017-05-01, replacemnt date(tn-13) = 2017-05-03
Data Date - 2017-05-01, replacemnt date(tn-13) = 2017-05-03
Data Date - 2017-05-01, replacemnt date(tn-13) = 2017-05-23
Data Date - 2017-05-01, replacemnt date(tn-13) = 2017-05-23
[ 1.0000000e+00  0.0000000e+00 -3.2831994e-10  0.0000000e+00
  4.4585000e-11  0.0000000e+00] [ 1.00000000e+00  1.00000000e+00 -6.76824569e-11 -6.32003039e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2017-05-01, replacemnt date (tn-14)_ = 2017-04-10
Data Date - 2017-05-01, replacemnt date (tn-14)_ = 2017-05-02
Data Date - 2017-05-01, replacemnt date (tn-14)_ = 2017-05-23
Data Date - 2017-05-01, replacemnt date (tn-14)_ = 2017-04-10
Data Date - 2017-05-01, replacemnt date (tn-14)_ = 2017-05-02
Data Date - 2017-05-01, replacemnt date (tn-14)_ = 2017-05-23

 79%|███████▉  | 169/214 [00:02<00:00, 62.45it/s]

Data Date - 2017-06-01, replacemnt date(tn-13) = 2017-05-23
Data Date - 2017-06-01, replacemnt date(tn-13) = 2017-05-23
[ 1.0000000e+00  0.0000000e+00 -4.2014181e-10  0.0000000e+00
  4.4585000e-11  0.0000000e+00] [ 1.00000000e+00  1.00000000e+00 -9.99009542e-11 -1.31948653e-13
  4.52960000e-11  5.07240000e-11]
Data Date - 2017-06-01, replacemnt date (tn-14)_ = 2017-05-23
Data Date - 2017-06-01, replacemnt date (tn-14)_ = 2017-05-23


Data Date - 2018-06-01, replacemnt date(tn-13) = 2018-06-01
Data Date - 2018-06-01, replacemnt date(tn-13) = 2018-06-01
[ 1.0000000e+00  0.0000000e+00 -3.9782646e-10  0.0000000e+00
  4.4585000e-11  0.0000000e+00] [ 1.00000000e+00  1.00000000e+00 -3.28555925e-11 -6.08878734e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2018-06-01, replacemnt date (tn-14)_ = 2018-06-01
Data Date - 2018-06-01, replacemnt date (tn-14)_ = 2018-06-01


Data Date - 2018-07-01, replacemnt date(tn-13) = 2018-07-01
Data Date - 2018-07-01, replacemnt date(tn-13) = 2018-07-01
[ 1.00000000e+00  0.00000000e+00 -5.91559889e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.33548870e-10  6.39245129e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2018-07-01, replacemnt date (tn-14)_ = 2018-07-01
Data Date - 2018-07-01, replacemnt date (tn-14)_ = 2018-07-01


Data Date - 2018-10-01, replacemnt date(tn-13) = 2018-10-22
Data Date - 2018-10-01, replacemnt date(tn-13) = 2018-10-22
[ 1.00000000e+00  0.00000000e+00 -6.47624781e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.33436584e-10  1.74627743e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2018-10-01, replacemnt date (tn-14)_ = 2018-10-22
Data Date - 2018-10-01, replacemnt date (tn-14)_ = 2018-10-22


Data Date - 2018-11-01, replacemnt date(tn-13) = 2018-10-22
Data Date - 2018-11-01, replacemnt date(tn-13) = 2018-10-22
Data Date - 2018-11-01, replacemnt date(tn-13) = 2018-11-01
Data Date - 2018-11-01, replacemnt date(tn-13) = 2018-11-01
[ 1.00000000e+00  0.00000000e+00 -6.47624781e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.33436584e-10  1.74627743e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2018-11-01, replacemnt date (tn-14)_ = 2018-10-22
Data Date - 2018-11-01, replacemnt date (tn-14)_ = 2018-11-01
Data Date - 2018-11-01, replacemnt date (tn-14)_ = 2018-10-22
Data Date - 2018-11-01, replacemnt date (tn-14)_ = 2018-11-01


Data Date - 2018-12-01, replacemnt date(tn-13) = 2018-12-01
Data Date - 2018-12-01, replacemnt date(tn-13) = 2018-12-01
[ 1.00000000e+00  0.00000000e+00 -4.50791489e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.00493359e-10  5.42046072e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2018-12-01, replacemnt date (tn-14)_ = 2018-12-01
Data Date - 2018-12-01, replacemnt date (tn-14)_ = 2018-12-01


Data Date - 2019-01-01, replacemnt date(tn-13) = 2019-01-01
Data Date - 2019-01-01, replacemnt date(tn-13) = 2019-01-01
[ 1.00000000e+00  0.00000000e+00 -4.18620223e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.75640456e-10 -2.16590723e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2019-01-01, replacemnt date (tn-14)_ = 2019-01-01
Data Date - 2019-01-01, replacemnt date (tn-14)_ = 2019-01-01


Data Date - 2019-02-01, replacemnt date(tn-13) = 2019-01-26
Data Date - 2019-02-01, replacemnt date(tn-13) = 2019-01-26
[ 1.00000000e+00  0.00000000e+00 -3.35204929e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.30511784e-10 -2.11441738e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2019-02-01, replacemnt date (tn-14)_ = 2019-01-26
Data Date - 2019-02-01, replacemnt date (tn-14)_ = 2019-01-26


Data Date - 2019-03-01, replacemnt date(tn-13) = 2019-03-01
Data Date - 2019-03-01, replacemnt date(tn-13) = 2019-03-01
[ 1.00000000e+00  0.00000000e+00 -3.61374585e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -9.59276571e-11 -7.10942594e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2019-03-01, replacemnt date (tn-14)_ = 2019-03-01
Data Date - 2019-03-01, replacemnt date (tn-14)_ = 2019-03-01


Data Date - 2019-04-01, replacemnt date(tn-13) = 2019-04-01
Data Date - 2019-04-01, replacemnt date(tn-13) = 2019-04-01
[ 1.00000000e+00  0.00000000e+00 -3.02333545e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -3.77253991e-11 -1.28280250e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2019-04-01, replacemnt date (tn-14)_ = 2019-04-01
Data Date - 2019-04-01, replacemnt date (tn-14)_ = 2019-04-01


Data Date - 2019-05-01, replacemnt date(tn-13) = 2019-05-01
Data Date - 2019-05-01, replacemnt date(tn-13) = 2019-05-01
[ 1.00000000e+00  0.00000000e+00 -3.48175678e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -6.66439955e-11 -1.94357162e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2019-05-01, replacemnt date (tn-14)_ = 2019-05-01
Data Date - 2019-05-01, replacemnt date (tn-14)_ = 2019-05-01


Data Date - 2019-06-01, replacemnt date(tn-13) = 2019-06-01
Data Date - 2019-06-01, replacemnt date(tn-13) = 2019-06-01
[ 1.00000000e+00  0.00000000e+00 -4.92580522e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.53301888e-10 -1.78236097e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2019-06-01, replacemnt date (tn-14)_ = 2019-06-01
Data Date - 2019-06-01, replacemnt date (tn-14)_ = 2019-06-01


Data Date - 2019-07-01, replacemnt date(tn-13) = 2019-07-01
Data Date - 2019-07-01, replacemnt date(tn-13) = 2019-07-01
[ 1.00000000e+00  0.00000000e+00 -7.97105527e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.61445791e-10 -1.11350717e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2019-07-01, replacemnt date (tn-14)_ = 2019-07-01
Data Date - 2019-07-01, replacemnt date (tn-14)_ = 2019-07-01


Data Date - 2019-08-01, replacemnt date(tn-13) = 2019-08-01
Data Date - 2019-08-01, replacemnt date(tn-13) = 2019-08-01
[ 1.00000000e+00  0.00000000e+00 -8.22019978e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.0000000e+00  1.0000000e+00 -2.5005608e-10  2.3141179e-11
  4.5296000e-11  5.0724000e-11]
Data Date - 2019-08-01, replacemnt date (tn-14)_ = 2019-08-01
Data Date - 2019-08-01, replacemnt date (tn-14)_ = 2019-08-01


Data Date - 2019-09-01, replacemnt date(tn-13) = 2019-09-01
Data Date - 2019-09-01, replacemnt date(tn-13) = 2019-09-01
[ 1.00000000e+00  0.00000000e+00 -8.11715029e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.63668438e-10  1.40662605e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2019-09-01, replacemnt date (tn-14)_ = 2019-09-01
Data Date - 2019-09-01, replacemnt date (tn-14)_ = 2019-09-01

 86%|████████▌ | 184/214 [00:03<00:00, 65.32it/s]

Data Date - 2019-10-01, replacemnt date(tn-13) = 2019-10-01
Data Date - 2019-10-01, replacemnt date(tn-13) = 2019-10-01
[ 1.00000000e+00  0.00000000e+00 -7.59338771e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.42598479e-10  2.12460174e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2019-10-01, replacemnt date (tn-14)_ = 2019-10-01
Data Date - 2019-10-01, replacemnt date (tn-14)_ = 2019-10-01


Data Date - 2019-11-01, replacemnt date(tn-13) = 2019-11-01
Data Date - 2019-11-01, replacemnt date(tn-13) = 2019-11-01
[ 1.00000000e+00  0.00000000e+00 -6.08903465e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.40374098e-10  1.74746338e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2019-11-01, replacemnt date (tn-14)_ = 2019-11-01
Data Date - 2019-11-01, replacemnt date (tn-14)_ = 2019-11-01


Data Date - 2019-12-01, replacemnt date(tn-13) = 2019-12-01
Data Date - 2019-12-01, replacemnt date(tn-13) = 2019-12-01
[ 1.00000000e+00  0.00000000e+00 -4.28895923e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.01048547e-10  1.05394529e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2019-12-01, replacemnt date (tn-14)_ = 2019-12-01
Data Date - 2019-12-01, replacemnt date (tn-14)_ = 2019-12-01


Data Date - 2020-01-01, replacemnt date(tn-13) = 2020-01-01
Data Date - 2020-01-01, replacemnt date(tn-13) = 2020-01-01
[ 1.00000000e+00  0.00000000e+00 -3.54395553e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -8.87519291e-11  7.58195544e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2020-01-01, replacemnt date (tn-14)_ = 2020-01-01
Data Date - 2020-01-01, replacemnt date (tn-14)_ = 2020-01-01


Data Date - 2020-02-01, replacemnt date(tn-13) = 2020-02-01
Data Date - 2020-02-01, replacemnt date(tn-13) = 2020-02-01
[ 1.00000000e+00  0.00000000e+00 -2.74196936e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [1.00000000e+00 1.00000000e+00 3.20000417e-11 8.78738996e-11
 4.52960000e-11 5.07240000e-11]
Data Date - 2020-02-01, replacemnt date (tn-14)_ = 2020-02-01
Data Date - 2020-02-01, replacemnt date (tn-14)_ = 2020-02-01


Data Date - 2020-03-01, replacemnt date(tn-13) = 2020-03-01
Data Date - 2020-03-01, replacemnt date(tn-13) = 2020-03-01
[ 1.00000000e+00  0.00000000e+00 -2.61987907e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [1.00000000e+00 1.00000000e+00 4.79279837e-11 9.43495864e-11
 4.52960000e-11 5.07240000e-11]
Data Date - 2020-03-01, replacemnt date (tn-14)_ = 2020-03-01
Data Date - 2020-03-01, replacemnt date (tn-14)_ = 2020-03-01


Data Date - 2020-04-01, replacemnt date(tn-13) = 2020-04-01
Data Date - 2020-04-01, replacemnt date(tn-13) = 2020-04-01
[ 1.0000000e+00  0.0000000e+00 -2.2419506e-10  0.0000000e+00
  4.4585000e-11  0.0000000e+00] [1.00000000e+00 1.00000000e+00 8.02682499e-11 4.36815458e-11
 4.52960000e-11 5.07240000e-11]
Data Date - 2020-04-01, replacemnt date (tn-14)_ = 2020-04-01
Data Date - 2020-04-01, replacemnt date (tn-14)_ = 2020-04-01


Data Date - 2020-05-01, replacemnt date(tn-13) = 2020-05-01
Data Date - 2020-05-01, replacemnt date(tn-13) = 2020-05-01
[ 1.00000000e+00  0.00000000e+00 -2.77481256e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  3.01087391e-11 -8.65472694e-12
  4.52960000e-11  5.07240000e-11]
Data Date - 2020-05-01, replacemnt date (tn-14)_ = 2020-05-01
Data Date - 2020-05-01, replacemnt date (tn-14)_ = 2020-05-01


Data Date - 2020-06-01, replacemnt date(tn-13) = 2020-06-01
Data Date - 2020-06-01, replacemnt date(tn-13) = 2020-06-01
[ 1.00000000e+00  0.00000000e+00 -5.31763181e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.01957797e-10 -5.23619699e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2020-06-01, replacemnt date (tn-14)_ = 2020-06-01
Data Date - 2020-06-01, replacemnt date (tn-14)_ = 2020-06-01


Data Date - 2020-07-01, replacemnt date(tn-13) = 2020-07-01
Data Date - 2020-07-01, replacemnt date(tn-13) = 2020-07-01
[ 1.00000000e+00  0.00000000e+00 -7.54247024e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.68453499e-10  3.75453290e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2020-07-01, replacemnt date (tn-14)_ = 2020-07-01
Data Date - 2020-07-01, replacemnt date (tn-14)_ = 2020-07-01


Data Date - 2020-08-01, replacemnt date(tn-13) = 2020-08-01
Data Date - 2020-08-01, replacemnt date(tn-13) = 2020-08-01
[ 1.00000000e+00  0.00000000e+00 -8.00071815e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.77038492e-10  2.26713636e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2020-08-01, replacemnt date (tn-14)_ = 2020-08-01
Data Date - 2020-08-01, replacemnt date (tn-14)_ = 2020-08-01


Data Date - 2020-09-01, replacemnt date(tn-13) = 2020-09-01
Data Date - 2020-09-01, replacemnt date(tn-13) = 2020-09-01
[ 1.00000000e+00  0.00000000e+00 -7.35246951e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.41295333e-10  4.10388978e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2020-09-01, replacemnt date (tn-14)_ = 2020-09-01
Data Date - 2020-09-01, replacemnt date (tn-14)_ = 2020-09-01


Data Date - 2020-10-01, replacemnt date(tn-13) = 2020-10-01
Data Date - 2020-10-01, replacemnt date(tn-13) = 2020-10-01
[ 1.00000000e+00  0.00000000e+00 -6.72744944e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.24329830e-10  3.84316892e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2020-10-01, replacemnt date (tn-14)_ = 2020-10-01
Data Date - 2020-10-01, replacemnt date (tn-14)_ = 2020-10-01

 93%|█████████▎| 198/214 [00:03<00:00, 60.69it/s]

Data Date - 2020-11-01, replacemnt date(tn-13) = 2020-11-01
Data Date - 2020-11-01, replacemnt date(tn-13) = 2020-11-01
[ 1.00000000e+00  0.00000000e+00 -5.97818701e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.19201402e-10  3.31000968e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2020-11-01, replacemnt date (tn-14)_ = 2020-11-01
Data Date - 2020-11-01, replacemnt date (tn-14)_ = 2020-11-01


Data Date - 2020-12-01, replacemnt date(tn-13) = 2020-12-01
Data Date - 2020-12-01, replacemnt date(tn-13) = 2020-12-01
[ 1.00000000e+00  0.00000000e+00 -5.68793295e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.80358603e-10  2.38154881e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2020-12-01, replacemnt date (tn-14)_ = 2020-12-01
Data Date - 2020-12-01, replacemnt date (tn-14)_ = 2020-12-01


Data Date - 2021-01-01, replacemnt date(tn-13) = 2021-01-01
Data Date - 2021-01-01, replacemnt date(tn-13) = 2021-01-01
[ 1.00000000e+00  0.00000000e+00 -4.90757516e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -9.26908363e-11  1.27805430e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2021-01-01, replacemnt date (tn-14)_ = 2021-01-01
Data Date - 2021-01-01, replacemnt date (tn-14)_ = 2021-01-01


Data Date - 2021-02-01, replacemnt date(tn-13) = 2021-02-01
Data Date - 2021-02-01, replacemnt date(tn-13) = 2021-02-01
[ 1.00000000e+00  0.00000000e+00 -4.57552206e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [1.00000000e+00 1.00000000e+00 2.80822650e-11 8.61834114e-11
 4.52960000e-11 5.07240000e-11]
Data Date - 2021-02-01, replacemnt date (tn-14)_ = 2021-02-01
Data Date - 2021-02-01, replacemnt date (tn-14)_ = 2021-02-01


Data Date - 2021-03-01, replacemnt date(tn-13) = 2021-03-01
Data Date - 2021-03-01, replacemnt date(tn-13) = 2021-03-01
[ 1.00000000e+00  0.00000000e+00 -3.56505048e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [1.00000000e+00 1.00000000e+00 7.10998122e-11 5.16597025e-11
 4.52960000e-11 5.07240000e-11]
Data Date - 2021-03-01, replacemnt date (tn-14)_ = 2021-03-01
Data Date - 2021-03-01, replacemnt date (tn-14)_ = 2021-03-01


Data Date - 2021-04-01, replacemnt date(tn-13) = 2021-04-01
Data Date - 2021-04-01, replacemnt date(tn-13) = 2021-04-01
[ 1.00000000e+00  0.00000000e+00 -4.28883892e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [1.00000000e+00 1.00000000e+00 1.59577135e-11 1.70046640e-12
 4.52960000e-11 5.07240000e-11]
Data Date - 2021-04-01, replacemnt date (tn-14)_ = 2021-04-01
Data Date - 2021-04-01, replacemnt date (tn-14)_ = 2021-04-01


Data Date - 2021-05-01, replacemnt date(tn-13) = 2021-05-01
Data Date - 2021-05-01, replacemnt date(tn-13) = 2021-05-01
[ 1.00000000e+00  0.00000000e+00 -4.63990411e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -9.46088508e-12 -2.02120945e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2021-05-01, replacemnt date (tn-14)_ = 2021-05-01
Data Date - 2021-05-01, replacemnt date (tn-14)_ = 2021-05-01


Data Date - 2021-06-01, replacemnt date(tn-13) = 2021-06-01
Data Date - 2021-06-01, replacemnt date(tn-13) = 2021-06-01
[ 1.00000000e+00  0.00000000e+00 -5.96193459e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -7.89661535e-11 -9.78554665e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2021-06-01, replacemnt date (tn-14)_ = 2021-06-01
Data Date - 2021-06-01, replacemnt date (tn-14)_ = 2021-06-01


Data Date - 2021-07-01, replacemnt date(tn-13) = 2021-07-01
Data Date - 2021-07-01, replacemnt date(tn-13) = 2021-07-01
[ 1.0000000e+00  0.0000000e+00 -7.3902392e-10  0.0000000e+00
  4.4585000e-11  0.0000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.43723708e-10  2.46901060e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2021-07-01, replacemnt date (tn-14)_ = 2021-07-01
Data Date - 2021-07-01, replacemnt date (tn-14)_ = 2021-07-01


Data Date - 2021-08-01, replacemnt date(tn-13) = 2021-08-01
Data Date - 2021-08-01, replacemnt date(tn-13) = 2021-08-01
[ 1.00000000e+00  0.00000000e+00 -8.44487201e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.37672578e-10  2.32792927e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2021-08-01, replacemnt date (tn-14)_ = 2021-08-01
Data Date - 2021-08-01, replacemnt date (tn-14)_ = 2021-08-01


Data Date - 2021-09-01, replacemnt date(tn-13) = 2021-09-01
Data Date - 2021-09-01, replacemnt date(tn-13) = 2021-09-01
[ 1.0000000e+00  0.0000000e+00 -8.1111606e-10  0.0000000e+00
  4.4585000e-11  0.0000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.35204652e-10  3.03720120e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2021-09-01, replacemnt date (tn-14)_ = 2021-09-01
Data Date - 2021-09-01, replacemnt date (tn-14)_ = 2021-09-01


Data Date - 2021-10-01, replacemnt date(tn-13) = 2021-10-01
Data Date - 2021-10-01, replacemnt date(tn-13) = 2021-10-01
[ 1.00000000e+00  0.00000000e+00 -9.34046491e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -3.65805840e-10  2.81247398e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2021-10-01, replacemnt date (tn-14)_ = 2021-10-01
Data Date - 2021-10-01, replacemnt date (tn-14)_ = 2021-10-01

100%|██████████| 214/214 [00:03<00:00, 57.71it/s]

Data Date - 2021-11-01, replacemnt date(tn-13) = 2021-11-01
Data Date - 2021-11-01, replacemnt date(tn-13) = 2021-11-01
[ 1.00000000e+00  0.00000000e+00 -7.73912212e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.97545947e-10  2.67740152e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2021-11-01, replacemnt date (tn-14)_ = 2021-11-01
Data Date - 2021-11-01, replacemnt date (tn-14)_ = 2021-11-01


Data Date - 2021-12-01, replacemnt date(tn-13) = 2021-12-01
Data Date - 2021-12-01, replacemnt date(tn-13) = 2021-12-01
[ 1.00000000e+00  0.00000000e+00 -6.77281949e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.34335947e-10  1.84325896e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2021-12-01, replacemnt date (tn-14)_ = 2021-12-01
Data Date - 2021-12-01, replacemnt date (tn-14)_ = 2021-12-01


Data Date - 2022-01-01, replacemnt date(tn-13) = 2022-01-01
Data Date - 2022-01-01, replacemnt date(tn-13) = 2022-01-01
[ 1.00000000e+00  0.00000000e+00 -5.52430179e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.16715333e-10  1.40020692e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2022-01-01, replacemnt date (tn-14)_ = 2022-01-01
Data Date - 2022-01-01, replacemnt date (tn-14)_ = 2022-01-01


Data Date - 2022-02-01, replacemnt date(tn-13) = 2022-02-01
Data Date - 2022-02-01, replacemnt date(tn-13) = 2022-02-01
[ 1.00000000e+00  0.00000000e+00 -5.10088293e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -9.99323049e-11  1.22621728e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2022-02-01, replacemnt date (tn-14)_ = 2022-02-01
Data Date - 2022-02-01, replacemnt date (tn-14)_ = 2022-02-01


Data Date - 2022-03-01, replacemnt date(tn-13) = 2022-03-01
Data Date - 2022-03-01, replacemnt date(tn-13) = 2022-03-01
[ 1.00000000e+00  0.00000000e+00 -4.53193643e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [1.00000000e+00 1.00000000e+00 5.11079704e-12 4.02960086e-11
 4.52960000e-11 5.07240000e-11]
Data Date - 2022-03-01, replacemnt date (tn-14)_ = 2022-03-01
Data Date - 2022-03-01, replacemnt date (tn-14)_ = 2022-03-01


Data Date - 2022-04-01, replacemnt date(tn-13) = 2022-04-01
Data Date - 2022-04-01, replacemnt date(tn-13) = 2022-04-01
[ 1.00000000e+00  0.00000000e+00 -4.62126538e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00  7.07695279e-11 -8.24673632e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2022-04-01, replacemnt date (tn-14)_ = 2022-04-01
Data Date - 2022-04-01, replacemnt date (tn-14)_ = 2022-04-01


Data Date - 2022-05-01, replacemnt date(tn-13) = 2022-05-01
Data Date - 2022-05-01, replacemnt date(tn-13) = 2022-05-01
[ 1.0000000e+00  0.0000000e+00 -5.3690343e-10  0.0000000e+00
  4.4585000e-11  0.0000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.95719639e-11 -9.21260664e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2022-05-01, replacemnt date (tn-14)_ = 2022-05-01
Data Date - 2022-05-01, replacemnt date (tn-14)_ = 2022-05-01


Data Date - 2022-06-01, replacemnt date(tn-13) = 2022-06-01
Data Date - 2022-06-01, replacemnt date(tn-13) = 2022-06-01
[ 1.0000000e+00  0.0000000e+00 -7.3385713e-10  0.0000000e+00
  4.4585000e-11  0.0000000e+00] [ 1.00000000e+00  1.00000000e+00 -8.47254918e-11 -7.50640106e-11
  4.52960000e-11  5.07240000e-11]
Data Date - 2022-06-01, replacemnt date (tn-14)_ = 2022-06-01
Data Date - 2022-06-01, replacemnt date (tn-14)_ = 2022-06-01


Data Date - 2022-07-01, replacemnt date(tn-13) = 2022-07-01
Data Date - 2022-07-01, replacemnt date(tn-13) = 2022-07-01
[ 1.00000000e+00  0.00000000e+00 -8.68606591e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.58261505e-10  1.07829822e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2022-07-01, replacemnt date (tn-14)_ = 2022-07-01
Data Date - 2022-07-01, replacemnt date (tn-14)_ = 2022-07-01


Data Date - 2022-08-01, replacemnt date(tn-13) = 2022-08-01
Data Date - 2022-08-01, replacemnt date(tn-13) = 2022-08-01
[ 1.00000000e+00  0.00000000e+00 -9.44380825e-10  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -2.06667341e-10  1.92367272e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2022-08-01, replacemnt date (tn-14)_ = 2022-08-01
Data Date - 2022-08-01, replacemnt date (tn-14)_ = 2022-08-01


Data Date - 2022-09-01, replacemnt date(tn-13) = 2022-09-01
Data Date - 2022-09-01, replacemnt date(tn-13) = 2022-09-01
[ 1.00000000e+00  0.00000000e+00 -1.01383038e-09  0.00000000e+00
  4.45850000e-11  0.00000000e+00] [ 1.00000000e+00  1.00000000e+00 -1.87973453e-10  2.95548296e-10
  4.52960000e-11  5.07240000e-11]
Data Date - 2022-09-01, replacemnt date (tn-14)_ = 2022-09-01
Data Date - 2022-09-01, replacemnt date (tn-14)_ = 2022-09-01


Replacement data for File Index 212 - 2022-10 could not be found.... procedding to next file
Replacement data for File Index 213 - 2022-11 could not be found.... procedding to next file

In [18]:
scmat_deck_itsg = np.ndarray((len(files), 97, 193))

for i in trange(196):
    if i not in unreplaced_idx:
        scmat_deck_itsg[i, :, :] = clm2sc_new(replaced_data_mat_itsg[i, :, :], lmax=96)

100%|██████████| 196/196 [00:01<00:00, 175.04it/s]

In [25]:
scmat_deck_itsg = np.ndarray((len(files), 97, 193))

for i in trange(196):
    if i not in unreplaced_idx:
        scmat_deck_itsg[i, :, :] = clm2sc_new(data_itsg_mat[i], lmax=96)

100%|██████████| 196/196 [00:00<00:00, 198.44it/s]

## ITSG Mean for the time period

In [21]:
temporal_mean_itsg = 0
for i in trange(196):
    temporal_mean_itsg += scmat_deck_itsg[i, :, :]

temporal_mean_itsg /= 196

100%|██████████| 196/196 [00:00<00:00, 59232.19it/s]

### Substract the mean from temopral data

In [22]:
sub_mat_itsg = np.ndarray((196, 97, 193))
for i in range(196):
    sub_mat_itsg[i, :, :] = scmat_deck_itsg[i, :, :] - temporal_mean_itsg

# Functions

In [23]:
from pyshbundle import gshs
def gshs_prepare(lmax, gs, quant, grd, h, jflag, sc_coeff):
    n = int(180/gs)
    
    grid_y = int(180/gs)
    grid_x = int(360/gs)

    ff = gshs.gshs(sc_coeff, quant, grd, n, h, jflag)[0]

    # rearranging
    field = np.zeros([grid_y,grid_x], dtype ='longdouble')

    field[:,0:int(grid_x/2)] = ff[:,int(grid_x/2):]
    field[:,int(grid_x/2):] = ff[:,0:int(grid_x/2)]  
    
    return field

In [24]:
def apply_gaussian(sc_coeff, gaussian_coeff, lmax):
    
    # filtered SH Coeff
    shfil = np.zeros([lmax+1, 2 * lmax+1])

    # applying filter on substracted coeff
    for j in range(0, 2*lmax+1, 1):
        shfil[:,j] = gaussian_coeff[:,0] * sc_coeff[:,j]
    
    return shfil

### Function trial

In [ ]:
scmat_deck_itsg = np.ndarray((len(files), 97, 193))

for i in trange(196):
    if i not in unreplaced_idx:
        scmat_deck_itsg[i, :, :] = clm2sc_new(data_itsg_mat[i], lmax=96)

100%|██████████| 196/196 [00:00<00:00, 211.15it/s]